[2019-09-25 19:19] FCO commented on #400
[code]

[2019-09-25 20:05] vrurg commented on #400
Just perfect for human-readable logging and possibly additional debugging!

[2019-09-25 21:00] FCO commented on #400
Maybe I should change the $*RED-DEBUG to use that...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-25 23:10] vrurg commented on #400
Perhaps. But debug could require more than just dumping database events. Debug stream might include intermediate messages of state changes, dumps of local variables or whatever else could be considered useful. Also, file names and line numbers for the purpose of distinguishing identical messages.

I can't say much in this area because I don't really know what exactly debugging does in Red. But my

[2019-10-12 11:22] FCO opened #401 "Create a $*RED-METADATA"
That variable would be used to set some metadata that would be used as comment in the queries and on a metadata field on the event objects.
That way will be easy to, for example, know the request Id for an given query or there logged user for a given event.

[2019-10-17 23:49] FCO commented on #401
Done

[2019-10-17 23:49] #401 closed

[2019-10-30 00:31] Xliff commented on #345
Given the following example:

[code]

The SQL emitted should be a left join:

[code]

[2019-10-30 10:08] FCO commented on #400
now, every db meta-method can receive `:with<db>` passing the database to be used, and `ResultSeq` has a `.with` method to set the database that should be used.

[2019-11-01 08:22] FCO commented on #345
I've been wondering... maybe the `:optional` should be on the relationship instead of on the (fk) column... that way I could use the same fk on 2 different relationships, one with LEFT JOIN and the other with regular JOIN...

[2019-11-01 08:35] FCO opened #403 "X metaop"
[code]

should it do something like this?

[code]

[2019-11-01 08:35] FCO commented on #403
maybe it could be the solution for #345

[2019-11-01 08:44] Xliff commented on #345
@FCO - Well the reason I put it on the FK is so that Red can check that column for creation and NOT put a "NOT NULL" marker on it. Since it is an optional key, it should be able to take a null.

If you can do that on the relationship and still easily get the information, then that makes this issue moot. :)

[2019-11-01 10:35] mattlaw commented on #403
Looks like a good solution for inner joins, but tricky to extend to outer joins.

[code]
--> `((1 1) (2 2) (3 Nil))`

[2019-11-03 22:03] FCO commented on #345
@mattlaw I was able to create a custom join using the bases used by relationship. I'me thinking in a way of creating a new syntax using it:

[code]

[2019-11-03 22:11] FCO commented on #345
not sure yet if in the right direction, but:

[code]

[2019-11-04 00:59] FCO commented on #345
https://github.com/FCO/Red/blob/join/t/33-join.t

[2019-11-04 03:23] vrurg commented on #158
@FCO Somehow my previously written comment didn't make it into this issue.

I have fixed the bug in MoarVM which caused this problem. Unfortunately, I can't make a proper test for now. Would it be possible for you to test and confirm that things work as expected now?

[2019-11-04 06:09] Xliff commented on #403
For some DBOs this might be better off as a CROSS JOIN.

https://www.w3resource.com/sql/joins/cross-join.php

So that:

[code]

results in:

[code]

That _is_ the best match for the X metaop, BTW.

[2019-11-04 07:00] FCO commented on #158
I’ll try it as soon as I come back home...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-04 07:09] #400 closed

[2019-11-04 07:35] FCO commented on #345
https://github.com/FCO/Red/blob/join/t/33-join.t#L18
Fix this example to use `.^join`

[2019-11-04 07:42] FCO commented on #345
[code]

[2019-11-04 08:21] FCO commented on #345
[code]

[2019-11-04 08:42] FCO commented on #345
I still need to create the `ResultSeq.join`, that will probably be something like:
[code]

[2019-11-04 12:58] FCO commented on #345
[code]

[2019-11-04 22:26] FCO commented on #345
@Xliff, @mattlaw:

[code]

[2019-11-04 22:27] FCO commented on #345
@mattlaw:

[code]

[2019-11-05 09:53] mattlaw commented on #345
Looks great!

One question though: why no placeholders for the values in the join conditions?

[2019-11-05 12:31] FCO commented on #345
It is/was not implemented on every op yet, but the idea is that hardcoded values do not need to be binded, but everything inside a container (so, maybe something the user could have changed) should be bonded, so, the last example is right, but this next example should bind:

[code]

[2019-11-10 15:23] FCO opened #406 "Aliases' survey"
Hi there!

@Xliff [has suggested](https://github.com/FCO/Red/pull/405) creating some aliases for `.^all.grep` and `.^all.map`, respectlly `.^where` and `.^update`.

Remembering that `Model.^all` represents all Model's database items. And returns a `ResultSeq` that has (or will have) all `Seq`'s methods to generate SQL queries when needed. And the idea behind **Red** is that you could use it withou

[2019-11-10 15:24] FCO commented on #406
Create the `.^where` (`.^all.grep`) and `.^update` (`.^all.map`) as Xliff has suggested

[2019-11-10 15:27] FCO commented on #406
Create new alias, but with different names:
- `.^grep` for `.^all.grep`
- `.^map` for `.^all.map`

That way the user should not learn new names but only that one could use the `Seq`'s method's names directly as meta-method. but on that way, why only `grep` and `map` has the meta-method homonymous?

[2019-11-10 15:28] FCO commented on #406
Do not add any alias and let it be the way it is.

[2019-11-10 15:29] FCO commented on #406
If you have any other suggestion, please comment.
and add an 👍 on the option you prefer, please!

[2019-11-10 15:36] Xliff commented on #406
I'm fine with 1 or 2. It's not that I don't agree with the way things are spec'd out, I would just like the option to remove the `.^all` from my code if it becomes repetitive.

[2019-11-10 15:38] FCO commented on #406
if it becomes repetitive, you can always do something like:

[code]

[2019-11-10 16:11] Xliff commented on #406
That ceases to be a worthwhile solution when you are dealing with a lot of models.

[2019-11-10 20:17] MattOates commented on #406
I think "where" is an especially bad idea as a name as it will give people too deep an assumption of what is happening wrt SQL. "filter" might be better. The update with the map I don't really like so much. But have the ^map and ^grep with an implicit ^all I think makes sense.

[2019-11-10 20:41] MasterDuke17 commented on #406
I'm torn about "where". On one hand it makes sense, but on the other MattOates raises a good point. So yeah, I think "^grep" is good, and a non-updating "^map".

[2019-11-11 01:32] vrurg commented on #406
Take my third +1 for `^grep` and `^map`. _Entities should not be multiplied without necessity._ As these two are perhaps the most used ones, it would probably make sense to shortcut them.

[2019-11-11 08:54] moritz commented on #406
For the record, sqlalchemy requires you to always call `.query` on a session or a model, which makes it easy to see where the rubber hits the database, so to speak. I kinda like that, so I'm voting against an alias for now.

If you do want to introduce an alias, please go with `^grep` instead of something cleverer.

[2019-11-11 11:10] albertferrico commented on #406
I also think that you can create custom methods, supporting the native ones
for example with ^where, make sense to call it filter_by or something like that

[2019-11-11 14:25] Scimon commented on #406
One of the things I like about Red is it feels like writing Raku not SQL. I think if we're going with aliases keeping them Rakuish (`.^map` and `^.grep`) goes with the feel of Red more.

[2019-11-12 14:11] bazzaar commented on #406
Though the idea of simplifying the syntax, by adding convenience aliases, is possibly a good one, maybe it's a bit early in the development cycle of RED. The module is still in the midst of development, and there isn't much actual usage knowledge yet. Perhaps, it's better not to constrain the developer's thought process with this change. It could be something for the future? Also, I'm not sure tha

[2019-11-12 14:38] albertferrico commented on #406
You made a good point, but I differ from you in one thing. If there are aliases, I think it would be better from a point of view of adoption. I'm very new to raku and if I see an alias rather than actual syntax, maybe I don't feel so frustrated when I try to use the module. I think allowing both (native syntax and aliases) is a good thing to spread the word and make it more user friendly. We need

[2019-11-14 21:41] Altai-man opened #409 "bindkey_o requires a concrete object (got a NQPMu type object instead)"
Anything we can do with this? I can share an invite to a private repo with full sources.

[code]

[2019-11-15 08:18] FCO commented on #409
Can I take a look at the code?

[2019-11-15 11:51] Altai-man commented on #409
@FCO sent an invite to repo.
Running either `cro run` or `perl6 -Ilib service.p6` is enough and is pretty reliable for me.
Rakudo is 07.1.

[2019-11-15 12:00] FCO commented on #409
@Altai-man I couldn't reproduce... for me, here, it's running ok...

[code]

Are SQLite and DBIish installed?

[2019-11-15 12:01] FCO commented on #409
[code]

[2019-11-15 12:22] Altai-man commented on #409
DBIish is on latest, Red is on latest,

[code]

The error is not a flapper.

[2019-11-15 12:22] FCO commented on #409
@Altai-man I've sent you an MR...

[2019-11-15 12:26] Altai-man commented on #409
With your patch it works.
But I have no idea why... And the issue looks pretty bad.

Thanks a lot for your help anyway!

[2019-11-15 13:54] FCO commented on #409
Strange... I haven't done anything to make it work... it was working here for me...

[2019-11-15 16:35] Altreus opened #410 "SQLite stores Bool as 1/0; Red does not inflate it again"
Many databases store booleans as integers but I'm only testing with SQLite right now so I can't speak for others.

It seems like if I insert a new row with a boolean defined, the resulting object has a `0` instead of  `False`.

One would expect automatic inflation of typed columns.

In fact, would it make sense to have default inflation/deflation based on the type of the column? `:inflate( { $data

[2019-11-15 20:34] FCO commented on #410
Fixed with https://github.com/FCO/Red/commit/40255fd8e0cc212e9a4315b9fc5028ec5bda4baf

[2019-11-15 20:34] FCO commented on #410
Thank you!

[2019-11-16 14:26] Altai-man commented on #409
Oh...

It seems I did not push the branch I worked with! Of course it worked nicely for you... Sorry for the confusion.

Can you try again with the same repo and newly added `temp` branch?

[2019-11-16 14:32] Altai-man commented on #409
The error disappears if I move $*RED assignment and table creation code from `Database.pm6` to `service.p6`, so I think it is the key to reproducing it reliably.

[2019-11-16 18:58] Altai-man opened #411 "Non-intuitive error message when passing incorrect data into ^load"
[code]

Instead of saying "I was expecting text, but got this complex type instead" I am getting this confusing error:

[code]

The odd thing is that whenever I change actual value of the MultipartFormData::Part, Red thinks its value is a name of a column to search for. So every time it might be `no such column: Joe (1)` or `no such column: Mary (1)`.

[2019-11-16 19:42] Altai-man commented on #345
Is the last example working already? For me it gives this error:

[code]

It fails at `Bla.^create-table;` line.

[2019-11-16 20:20] FCO commented on #409
It has something related to precompilation... when I add `no precompilation` on the `Database` file it does not break...

[2019-11-16 20:59] FCO commented on #411
this is the generated SQL:
[code]

[2019-11-16 21:04] FCO commented on #411
if we change the code to
[code]
it works as expected...
Red doesn't know its type, so it just Str it... maybe it should treat all not know types as Str?

[2019-11-16 21:46] #411 closed

[2019-11-16 21:50] #410 closed

[2019-11-16 22:31] Altai-man commented on #411
I am not even sure how to handle this "the right way", to be honest.
There are no mapping from sql types into raku types?

[2019-11-16 22:32] Altai-man commented on #409
Yes, should be it.
I'll try to golf it to a smaller case and open a rakudo issue. I'll close this one after that. Or not so we could track progress.

[2019-11-16 23:55] FCO commented on #411
This is done by the driver, on the translation method

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-16 23:56] FCO commented on #345
Are you using the `join` branch?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-17 09:17] Altai-man commented on #345
Oh, I am not. I need a simple join (e.g. `SELECT * FROM posts JOIN persons ON posts.author_id = persons.id;`) and don't want to do `is relationship`. It is impossible right now, right?

[2019-11-17 11:03] FCO commented on #345
Only on join branch... sorry... :(

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-17 11:13] FCO commented on #345
But it should be possible to do:

[code]

When I get my computer I’ll test if it really works...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-17 11:13] FCO commented on #345
<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-17 16:43] FCO commented on #345
It’s not working... :( maybe it would be better to use the join branch...

[2019-11-17 20:55] Altai-man commented on #345
@FCO can we expect the branch being merged anytime soon?
I'd like to use Red for my advent post, and saying "This is a work in progress, but you can use a branch" would be a bit LTA.

[2019-11-17 21:09] FCO commented on #345
I am planing to merge it (with the :api<2>) before my advent post...

[2019-11-17 21:11] Altai-man commented on #345
Great! Thanks, I'll use `join` branch for now, will try to write a query with the code above...

[2019-11-19 11:06] FCO opened #412 "Fallback to native map if the map's block's arity if bigger than 1"

[2019-11-19 11:07] FCO opened #413 "Fallback to native map if the map's block try to print something"

[2019-11-19 11:08] FCO opened #414 "Turn $*RED-FALLBACK on by default"

[2019-11-19 14:02] #414 closed

[2019-11-19 21:49] Altai-man commented on #345
https://gist.github.com/Altai-man/cdc026a2dd6532eeebe1ce4b80148376 <- an odd error on latest join branch.

[2019-11-19 21:58] FCO commented on #345
Yes, that’s odd... I’ll take a look at it as soon as possible... until it’s fixed, running a map to return only the columns you are going to use must work...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-19 22:02] Altai-man commented on #345
The issue is that I am having issues with *.map too... https://gist.github.com/Altai-man/df72e797f0b9712bb788a7f3ebb47676

And what is odd is that in both cases (with map and without) it says that the column not found is different every time.

[2019-11-19 22:07] FCO commented on #345
I’m not with my computer now, but I think you should be using a User column over there... * will be a User object... you probably could use { Post.body } as a work around...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-19 22:21] Altai-man commented on #345
Not sure if any useful, but looked at it a bit:
https://github.com/FCO/Red/blob/master/lib/Red/ResultSeq/Iterator.pm6#L33
^ here $!of is `User_1` type (created using MOP?) and it's `^columns` evaluates to an empty array. An initialization of them is missing somewhere, I think.

[2019-11-19 23:04] FCO commented on #345
@Altai-man on `.^create` there is a type... `:author_id(1)` should be `:author-id(1)`...

[2019-11-19 23:35] FCO commented on #345
@Altai-man

[code]

[2019-11-20 14:01] FCO commented on #108
https://github.com/FCO/Red/blob/master/bin/red#L26

[2019-12-19 19:20] jonathanstowe opened #415 "Certain password hashes cause an error in update."
I am amending [RedX::HashedPassword](https://github.com/jonathanstowe/RedX-HashedPassword) to use [Crypt::AnyPasswordHash](https://github.com/jonathanstowe/Crypt-AnyPasswordHash).

It's fine with the `libcrypt`  yesno hash :

[code]

But  with Scrypt:

[code]

And Argon2 :

[code]

I guess that there's something in the hash strings that SQLite doesn't like when it is interpolated in the update, th

[2019-12-19 19:23] FCO commented on #415
Would you mind to share your test code?

[2019-12-19 19:32] jonathanstowe commented on #415
This is the t/020-basic.t  in RedX::HashedPassword,, as per the branch above.  You'll need to install Crypt::Argon2 or Crypt::SodiumScrypt to recreate.

[2019-12-19 19:35] FCO commented on #415
the same for me:

[code]

I'm trying to figure out the reason...

[2019-12-19 19:39] FCO commented on #415
should I scape the `$` sign?

[2019-12-19 19:43] jonathanstowe commented on #415
I don't think so.  The other password hashes (yesno, SHA-512 etc) have the '$' and work fine.

[2019-12-19 20:44] FCO commented on #415
is it the \0s at the end?

[2019-12-19 20:58] FCO commented on #415
I've changed to use bind on update always it is possible, that was the result:

[code]

[2019-12-19 21:19] jonathanstowe commented on #415
Cool!  I think that last failure may be as the result of a bug in Crypt::Argon2 - if you look at the inserts and updates there appears to be some additional null bytes, these are probably lost when doing the actual Str comparison.

[2019-12-20 09:27] jonathanstowe commented on #415
For reference, on Pg it gives:

[code]

[2019-12-20 09:30] FCO commented on #415
have you tried on `join`?

[2019-12-20 09:36] jonathanstowe commented on #415
Same error on Pg, but what you got with SQLite...

[2019-12-20 09:49] FCO commented on #415
odd... it should be binding update values on Pg as well... I'll have to take a look at it when I come home...

[2019-12-20 11:24] jonathanstowe commented on #415
Yeah I couldn't see where it was taking a different code path for Pg.

BTW.  It definitely is the trailing "\0",  I saw that the SodiumScrypt was doing it too and fixed it.  The hash functions place the hash in a fixed length buffer padded with 0 bytes and decoding that back to a  Str doesn't remove them.  It's made more confusing because printing these strings doesn't show the \0 ....

So I can f

[2019-12-20 11:28] FCO commented on #415
I agree... I'm fixing that later today...

[2019-12-20 21:31] FCO commented on #415
@jonathanstowe could you test `join` now, please?

[2019-12-20 23:15] FCO commented on #415
@jonathanstowe I hope you don't mind... I've added 2 of your modules here: https://github.com/FCO/Red/runs/358942498

[2019-12-22 15:27] jonathanstowe commented on #415
No, that's fine.

Sorry I haven''t got around to testing again, experiencing some time poverty right now.  Will try and get to it this evening.

[2019-12-23 08:19] jonathanstowe commented on #415
Just tested that, and all good.  Both Pg and SQLite are making SQL with placeholders:

[code]

I've also fixed a weird precompilation error I was getting with the way I originally had Crypt::AnyPasswordHash so should be good to make a new release with this today.

Thanks

[2019-12-23 14:46] jonathanstowe commented on #415
I've released the new version of [RedX::HashedPassword](https://github.com/jonathanstowe/RedX-HashedPassword) using [Crypt::AnyPasswordHash](https://github.com/jonathanstowe/Crypt-AnyPasswordHash) fixing the problems with the embedded nulls and all is good.

[2019-12-23 14:46] #415 closed

[2019-12-23 14:48] FCO commented on #415
Thanks!

[2019-12-23 14:56] FCO opened #416 "Prefetch $. relationships"

[2019-12-23 15:01] FCO commented on #416
Maybe add a `:!prefetch`

[2019-12-23 15:02] FCO opened #417 "How to prefetch @. relationships?"

[2019-12-23 15:07] FCO commented on #417
I think the biggest problem is that the query will return multiple lines for each object... out or order...

[2019-12-23 15:11] FCO commented on #350
`:api<2>` is out. We should “fix” the docs!

[2019-12-23 15:12] FCO opened #418 "Document $*RED-FALLBACK"
Not only the variable, but the fallback flow

[2019-12-23 15:17] FCO commented on #141
https://modules.raku.org/dist/RedX::HashedPassword:cpan:JSTOWE

[2019-12-23 15:38] FCO commented on #16
`red-do` accepts a `:transaction` adverb.

[2019-12-23 15:40] FCO commented on #86
We are currently “finding” this inside of the blocks by running it...

[2019-12-23 15:55] jonathanstowe commented on #141
Yep that shaved that particular yak as after a period of thinking about the password case I began to realise that is just wanted to be a string with special properties and  which had a custom deflater/inflater so everything could be done from where we were.

But I think the more general case stands e,g,:

[code]

So in all the places that it needs to know the column-type, or does inflate or deflat

[2019-12-23 16:17] FCO commented on #141
Would something like this make sense? lib/Red/Type/Json.pm6

[2019-12-23 16:23] FCO commented on #141
I’m thinking of creating the Red::Type as you suggested and convert this JSON to use that. But more than inflate and deflate the new types, I’m thinking on how to make it have new methods while querying (as the .AT-KEY from json (lib/Red/ColumnMethods.pm6) and specializing it).

[2019-12-23 16:26] FCO commented on #141
A Vector Red::Type could, for example, have a module method that on queries would be translated to `sqrt(pow(x, 2) + pow(y, 2))` and would make it possible to: `Vector.^all.grep: *.module > 10`

[2019-12-23 16:52] jonathanstowe commented on #141
Of course in the JSON case  Pg will let you do queries on the content of the document, so you'd want to use the native capabilities of the DB wherever possible.   But yeah that kind of thing.

[2019-12-23 16:54] FCO commented on #141
Yes, the json already does that... the driver translates the AST the right way

[2019-12-28 01:51] melezhik opened #419 "Flickering bug in 04-blog.t"
Hi @FCO . I've been experimenting with [Tomty test suite for Red](https://github.com/melezhik/Red/tree/master/.tomty) and encountered a bug in t/04-blog.t

[code]
The last check fails on and of, not every time

HTH

Aleksei

[2019-12-28 01:54] melezhik commented on #419
could it be that just `.perl` method does not guaranty  an order?

[2019-12-28 12:54] FCO commented on #419
Yes, maybe! I’ll take a look as soon as possible! Thank you very much!

[2019-12-28 17:36] FCO commented on #419
I'm trying to reproduce...

[code]

[2019-12-28 17:37] FCO commented on #419
How should I run that?

[2019-12-28 17:53] melezhik commented on #419
Sorry, the default setup implies that local repository exists, which is not the case.

Try this:

`export SP6_REPO=http://repo.westus.cloudapp.azure.com tomty 04-blog`

[2019-12-28 18:02] melezhik commented on #419
Sorry for the typo, just:

`SP6_REPO=http://repo.westus.cloudapp.azure.com tomty 04-blog`

or:

`export SP6_REPO=http://repo.westus.cloudapp.azure.com && tomty 04-blog`

[2019-12-28 18:32] melezhik commented on #419
I've added multiple check (50 times) for the last failure, so that flickering bug will be seen always:

[code]

[2019-12-28 21:12] FCO commented on #419
Is `tomty` implementing its own `is-deeply`? it should be comparing `Set` with `Set`, not the `.perl` version of it... `Set` is unordered... probably it's stringifying into a different order.

[code]

[2019-12-28 21:19] melezhik commented on #419
You are probably right. Then this not an issue, if set is not ordered.

Tomty tests are based only on stdout checks using string comparisons,
regexps. It does not need is-deep, because it does not deal with objects
context.

On Dec 28, 2019 3:12 PM, "Fernando Correa de Oliveira" <
notifications@github.com> wrote:

Is tomty implementing its own is-deeply? it should be comparing Set with Set,
not th

[2019-12-28 23:16] #419 closed

[2019-12-28 23:17] FCO commented on #419
Thanks!

[2019-12-30 02:23] #179 closed

[2019-12-31 21:17] #412 closed

[2019-12-31 21:22] #413 closed

[2020-01-02 20:56] FCO opened #420 ".^create-table: :if-not-exists is not working"

[2020-01-02 23:41] #420 closed

[2020-01-03 01:49] FCO commented on #178
Originally the idea was to use a % relationship for that, where the key would represent the first level and the value the next level.
For example:

[code]

that way, if you want all gifts asked by `$child` you should only do: `$child.gifts.values`. And to get the gifts for a specific year, you could do: `$child.gifts{ :year(2019) }`.

But now I don't think that's a good idea...

[2020-01-03 03:55] #350 closed

[2020-01-07 15:01] FCO commented on #15
If I'm migrating from 2 columns ('first-name' and 'last-name') to a single column ('complete-name') (for example), and we've defined the migration `.complete-name = "{ .first-name } { .last-name }"` we could use that same code to change the obj just before save while we are still using the old columns but also saving the new one and the opposite when we start using the new value but still save the

[2020-01-07 16:46] FCO commented on #178
[code]
???

[2020-01-07 22:44] melezhik opened #421 "Tests on debian/Pg fail"
Hi Fernando. My RakuDist [tests](https://github.com/melezhik/RakuDist/blob/master/modules/red-with-pg/sparrowfile) fails. Maybe I miss something but this is what I get:

[code]

[2020-01-08 03:16] FCO commented on #421
It seems that the tables and everything already existed... that test assumes it’s running on a on memory database just created, so that it’s empty...

[2020-01-08 03:18] FCO commented on #345
This is on master now... should it be closed?

[2020-01-08 03:43] melezhik commented on #421
Yeah. How did you suppose to run it against Postgresql then?

On Jan 7, 2020 9:16 PM, "Fernando Correa de Oliveira" <
notifications@github.com> wrote:

[2020-01-08 03:47] melezhik commented on #421
Did you see how I [patched](https://github.com/melezhik/RakuDist/blob/master/modules/red-with-pg/files/tasks/patch-t-files/task.bash) t/ files? Not sure if I did it right ...

[2020-01-08 07:13] jonathanstowe commented on #421
I've run the tests against Pg and simply dropped the DB and recreated it empty before running the tests.

[2020-01-08 07:21] FCO commented on #421
Yes, the patch seems to be right, but maybe I should be using a env var to make that easier...
I think the @jonathanstowe is right, just delete the DB before running the test.

Would that be possible to have a pg running on a different machine/host/container/something else? I mean, that would be a good way to test the connection parameters.

[2020-01-08 07:23] FCO commented on #421
And if you start a new pg container for each run, the db will not previously exists, so will not need to be dropped

[2020-01-08 09:23] Altai-man commented on #345
Can one e.g. re-write https://github.com/Altai-man/sample-cro-crud/blob/master/lib/Blog/Database.pm6#L34-L37 in Red?
If yes, then I'd consider custom joins to work.

[2020-01-08 10:42] FCO commented on #345
If I got it right, it’s what I want with https://github.com/FCO/Red/issues/416 (almost there…) and not with custom joins… Did I get it?

[2020-01-08 12:44] melezhik commented on #421
@FCO
A database deleted always before zef test gets run:

[code]

[2020-01-08 14:36] FCO commented on #421
Will it run before each test?

[2020-01-08 14:43] melezhik commented on #421
It runs before `zef test` but not before every test in t/ folder

[2020-01-08 14:53] FCO commented on #421
That will be a problem if/when we use the same table more the once.

[2020-01-08 15:14] melezhik commented on #421
let me run some debug on docker instance itself and give you update

[2020-01-08 15:45] melezhik commented on #421
[code]

[code]
[code]
[code]

[code]

[2020-01-08 15:57] FCO commented on #421
the `t/03-sqlite.t` is for sqlite only.
the `t/02-tdd.t` creates tables that `t/04-blog.t` will create again... probably that's causing the error.

[2020-01-08 16:02] melezhik commented on #421
it still works because sqlite is installed as well. in future you can think of skipping some tests mechanism depending what driver is used, something like `RED_DB_DRIVER=Pg zef test` would run only Pg related tests. Anyway.

I see `t/04-blog.t` gets passed, the error comes from the next one - `t.05-ticket.t`

[2020-01-08 16:09] FCO commented on #421
`t/05-ticket.t` also creates a person table. https://github.com/FCO/Red/blob/master/t/05-ticket.t#L23

[2020-01-08 16:11] melezhik commented on #421
yes, so is it a Red bug, can we work it out on Sparrow sider, to make tests passed?

[2020-01-08 16:18] FCO commented on #421
Why is that a Red's bug? Both tests use models with the same table's name. If drop the DB before each test that'll probably work.

[2020-01-08 16:23] melezhik commented on #421
Ok, sorry I probably misunderstood.

Let me reshape the question.

How do you want to do this? Right now `dropdb` only invoked once in the beginning ...
If one runs `zef test` it runs all tests at once, how to I add `dropdb` before _every_ `t/*.t` test? Should I modify every `t/*.t` for that or what?

[2020-01-08 16:35] FCO commented on #421
That's a good question...
I don't know the best answer, but a way I thought (that would make it possible to run the tests in parallel) would be run 1 container with Pg for each test and each test would connect to its Pg.

Maybe something like:

[code]

But I'll change the tests to accept an env var for that... it should be easier...

[2020-01-08 17:07] Altai-man commented on #345
I am not sure, the task is, let me see...
Let's way we have two models, User and Post. Each post has $.author-id containing ID of corresponding User instance. The query is "join users and posts on author-id and select all data for all posts, but instead of author ID I want to see author's $.firstname value to display that in a single query".

[2020-01-08 17:48] melezhik commented on #421
Well, I tried slightly different approach - separate db by names, now I have a different error:

Looks like situation abit trickier , some tests should share _the same_ database:

[code]

[2020-01-08 19:24] FCO commented on #345
Yes... that’s what I’m planing for that issue... you’ll be able to do a `Post.^all` and that will prefetch the author data, so, `$post.author.name` will not run another query...

I know that’s not what you want, but if you want, for example, only the post’s title and the author’s name, you could do something like:

[code]

And that should work...

<sub>Sent with <a href="http://githawk.com">GitHaw

[2020-01-08 19:27] FCO commented on #421
Now that’s probably a Red bug on Pg... probably because Pg do not accept creating a relationship with a table that does not exist yet (as SQLite...)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-08 19:33] melezhik commented on #421
I'm glad that RakuDist/Sparrow helped to reveal that.

I've [implemented](https://github.com/melezhik/RakuDist/blob/master/modules/red-with-pg/sparrowfile) multi database approach. Every test that needs Pg database - assigned a _dedicated_ Pg database that dropped/created before a test gets run.  But all databases gets run on the same docker container. It's more lighter then having a dedicated doc

[2020-01-08 20:11] melezhik commented on #421
full report - https://gist.github.com/melezhik/d83d508be45202ef5e6ae5f701b6be67

[2020-01-08 20:48] Altai-man commented on #345
If it is related to other ticket, then close this one according to your own opinion. :+1:

[2020-01-09 03:40] Xliff commented on #345
@FCO: I do like the prefetch aspect _in that situation_, but if I did something like this:

[code]

Would there still be a prefetch for .author?

[2020-01-09 07:17] FCO commented on #345
The

[code]

Do not use the prefetch feature and already work now. It just uses a join with the `Person` table because the `author` relationship was used. If that relationship wasn’t used, there would be no join.

The prefetch feature idea is that it will only automatically add a join with the `$` relationships when you are returning the whole object, for example:

[code]

Would do join with the `

[2020-01-09 07:55] FCO commented on #421
We should not use `.^create-table` for that... I’m creating a schema class to fix that, that way we’ll be able to run a `schema(Post, Person).create` and it will create the tables into steps: the first step: create each table without the relationships; second step: alter tables to add the relationships

[2020-01-09 12:23] FCO commented on #345
@Xliff
[code]

[2020-01-09 12:59] Xliff commented on #345
@FCO: Nice! How are you detecting for the presence of other models in .map?

[2020-01-09 13:15] FCO commented on #345
@Xliff we just include the “tables” (table aliases as well) that are returned by the map’s block...

[2020-01-09 13:20] FCO commented on #345
@Xliff That’s why you can also have join of join like this:

[code]

[2020-01-09 17:29] melezhik commented on #421
@FCO  good, please ping me when it's ready and we could run a new test

[2020-01-12 01:50] vrurg commented on #81
Update for a long-pending issue. With `:api<2>` changing the syntax of `referencing` and `relationship` traits making `:model` required, it would make sense to provide support for passing model type object to `:model`:

[code]

And, yes, I did bump into this problem again a few minutes ago. :)

[2020-01-12 03:23] FCO commented on #81
Isn’t it being supported?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-12 03:27] vrurg commented on #81
No. `referencing` trait explicitly declares `$model` to be a `Str`.

[2020-01-12 03:38] vrurg commented on #81
Worse than that, as I'm currently trying to investigate, `Red::Attr::Relationship` accepts `$model` as `Str` only.

[2020-01-12 04:14] FCO commented on #81
We have to fix it... :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-12 23:16] FCO commented on #421
That's done (https://github.com/FCO/Red/commit/660495d23519edd7312ad1b12cf1b38e61a195c8)! And now you can also use the env var `RED_DATABASE` to define the db connection (`RED_DATABASE=SQLite`, `RED_DATABASE=Pg`, `RED_DATABASE="SQLite database=./flie.db"`, `RED_DATABASE="Pg host=localhost"`, for example)

[2020-01-13 19:02] melezhik commented on #421
Hi @FCO, unfortunately still fails on after update:

https://gist.github.com/melezhik/d83d508be45202ef5e6ae5f701b6be67

[2020-01-13 19:10] melezhik commented on #421
@FCO test fails after updated, but with different errors:

https://gist.github.com/melezhik/f27044997aab71e3bd3a17f7300d3ef4

[2020-01-13 19:34] FCO commented on #421
@melezhik strange:
[code]

[2020-01-13 19:36] melezhik commented on #421
in RakuDist test `t/04-blog.t ` passes too, the issue with the following tests ...

[code]

[2020-01-29 20:41] vrurg opened #422 "Failure on the latest rakudo master"
A recent change by lizmat introduced compile-time check of attribute value type. As a result, Red is broken. The problem source is in `MetamodelX::Red::OnDB` module, method `set_helper_attrs` where an attribute is declared as `Bool` gets assigned with a routine the very next line.

[2020-01-29 23:19] vrurg commented on #422
**UPD** Not a `Red` bug. Initially I though a type mismatch slipped in somehow, but I was wrong.

Not closing until rakudo/rakudo#3449 or another fix is merged.

[2020-01-29 23:56] lizmat commented on #422
Is there a way to reproduce this without needing Red ?

[2020-01-29 23:59] vrurg commented on #422
@lizmat I better open an issue on rakudo and will post a golfed-down sample there.

[2020-01-29 23:59] #422 closed

[2020-04-10 18:36] FCO commented on #416
done, and added `:no-prefetch`

[2020-04-10 18:36] #416 closed

[2020-05-08 23:00] melezhik opened #423 "Red install fails on Centos"
Hi @FCO !

Installs fails with error

http://repo.westus.cloudapp.azure.com/sparky/report/centos/560

22:57:02 05/08/2020 [bash: zef install Red] ===> Testing: Red:ver<0.1.6>:auth<Fernando Correa de Oliveira>:api<2>
22:57:02 05/08/2020 [bash: zef install Red] [Red] Cannot modify an immutable TicketStatus (TicketStatus.new(id ...)
22:57:02 05/08/2020 [bash: zef install Red] [Red]   in block <unit>

[2020-06-01 07:00] JJ opened #424 "Default constructor for 'Raku::Recipes::IngRedient' only takes named arguments"
Here's the class:

[code]

And the code:
[code]

Any idea?

[2020-06-01 07:11] JJ commented on #424
OK, golfed down to:

[code]

Still same problem.

[2020-06-01 07:20] JJ commented on #424
Well, I got it. Apparently, an "id" field is compulsory, since it's then used to check that this is necessary. PR upcoming.

[2020-06-05 18:53] FCO commented on #424
It seems to be a bug, `id` shouldn't be required. Without `id`, it will never update, but should insert. I'll take a look, sorry for the delay

[2020-06-05 23:12] #424 closed

[2020-06-06 01:00] FCO commented on #423
@melezhik how can I test it?

[2020-06-06 01:46] melezhik commented on #423
Hi! RakuDist has moved to http://rakudist.raku.org/ , I could rerun test here. Though there is no CentOS docker here yet ( I could add it later ).

[2020-06-06 01:48] melezhik commented on #423
oh, I could see you've already run it.

[2020-06-06 02:11] melezhik commented on #423
Unfortunately I have an issue with enabling CentOS on RakuDist due to CentOS 8 does not have `zstd` in repos, which makes it impossible to install Rakudo from whateverable, so you'd probably could close this issue now.

[2020-06-06 02:57] FCO commented on #423
Sorry for the delay

[2020-06-06 02:57] #423 closed

[2020-06-06 03:15] melezhik commented on #423
NP. I finally managed to bootstrap CentOS for RakuDist.
Red test on CentOS 8 passes now - http://rakudist.raku.org/sparky/report/centos/208
Tests on Alpine have an issue, but it is out of scope.

[2020-06-06 10:44] FCO commented on #423
Please, would you mind to open a new issue with the alpine’s issue?

[2020-06-06 10:45] #418 closed

[2020-06-06 11:07] FCO commented on #406
After 7 months, I think there is another option:

Creating a `is handling<map grep>` model’s trait. Using that, one could add `map` and/or `grep` that would be aliases to the ResultSeq’s originals. And maybe accept renaming like: `is handling(map => “update”, grep => “where”)` for the people who prefere other names.

Comments?

[2020-06-06 18:40] FCO commented on #406
I've added that `is handling` trait as an experimental feature. https://github.com/FCO/Red/commit/c75e368aadf8f207ac5b5b81bb8b5cd0f10359f9
Please, comment

[2020-06-08 14:26] melezhik opened #426 "Alpine install fails ( not a Red issue )"
@FCO  you asked me to create an issue for alpine installation, here we go:

https://rakudist.raku.org/sparky/report/alpine/209

As you can see it's not Red issue, but failing dependency installation:

[code]

HTH

Aleksei

[2020-06-08 14:27] FCO commented on #426
Thank you very much

[2020-06-08 14:30] melezhik commented on #426
for information, libc.musl-x86_64.so.1 is installed here:

[code]

looping @saloritz

[2020-06-09 18:07] vrurg commented on #406
Though I'm currently not using Red, but overall it sounds like a good compromise.

[2020-06-19 02:23] melezhik opened #427 "RakuDist test fails on debian"
Hi Fernando!

RakuDist test fails on Debian:

https://rakudist.raku.org/sparky/report/debian/333

[code]

HTH

Aleksei

[2020-06-19 03:20] melezhik commented on #427
The same fail on Ubuntu - http://rakudist.raku.org/sparky/report/ubuntu/334

[2020-06-23 07:53] JJ opened #428 "Red failing to install with Raku 2020.06"
Exactly the same error as #427
[code]

[2020-06-23 07:54] JJ commented on #426
I got a container that includes Red [here](https://github.com/JJ/perl6-recipes-apress/packages/96122). It needs a bit of tweaking, but it works...

[2020-06-23 10:50] FCO commented on #426
Thanks!

[2020-06-23 11:51] #428 closed

[2020-06-23 11:54] FCO commented on #427
@melezhik could you please confirm if it fixed this problem. Thank you

[2020-06-23 15:22] melezhik commented on #427
Looks good for me - https://rakudist.raku.org/sparky/report/debian/387
You could always run those tests yourself

[2020-06-23 18:54] melezhik commented on #427
success for centos and ubuntu as well

[2020-06-23 23:02] FCO commented on #427
Thank you!

[2020-06-23 23:03] #427 closed

[2020-06-24 00:55] #426 closed

[2020-06-26 19:04] FCO opened #430 "Use Fluent on error messages"
https://github.com/alabamenhu/Fluent

[2020-06-26 19:11] FCO commented on #421
@melezhik How can I run that to test if the last commits have fixed it?

[2020-06-26 19:32] melezhik commented on #421
@FCO  because RakuDist have moved to a new hosting I need some time to prepare environment for this specific test, as it requires docker instance with systemd support ... I'll let you when it's ready ...

[2020-06-26 20:07] FCO commented on #421
Thank you very much (sorry for all the work)

[2020-06-26 20:17] melezhik commented on #421
NP, @FCO

[2020-06-26 23:04] FCO commented on #345
@Altai-man just to let you know that https://github.com/FCO/Red/issues/416 is already working (for some time, sorry the delay)

[2020-06-26 23:06] #345 closed

[2020-06-26 23:10] FCO commented on #347
Features should be documented as POD inside the module or on a specific MD on https://github.com/FCO/Red/tree/master/docs

[2020-06-26 23:10] FCO commented on #344
Features should be documented as POD inside the module or on a specific MD on https://github.com/FCO/Red/tree/master/docs

[2020-06-26 23:12] #344 closed

[2020-06-27 16:32] FCO commented on #417
Maybe:

[code]

Should it run:

[code]

And on Seq, loop generating and accumulating Book objects while Person.id is the same, and when it changes, create the Person obj using the accumulated objects?

[2020-06-27 23:34] FCO commented on #409
Hi @Altai-man any news about this one?

[2020-06-28 13:37] FCO commented on #345
@mattlaw I'm going to rename `ResultSeq.join` to `ResultSeq.join-model` because I need `ResultSeq.join` to mimic `Positional.join`, like:

[code]

[2020-07-08 10:58] FCO opened #434 "trait_mod:<is>(Mu $model, Mu:U :populated-by($role))"
Maybe also:

[code]

[2020-07-08 12:23] samebchase commented on #328
Hi @FCO, This library is cool!

I spent some time reading through the code and the documentation. I was not able to figure out how to create a PG connection object by passing options like `host` and `dbname`. Would you be able to share a small snippet for me?

Later on, I can add this information to the documentation pages, so that it is found easily. You can assign this issue to me.

[2020-07-08 12:35] FCO commented on #328
Hi @samebchase thank you!

the `database` keyword receives the driver's name and it's parameters, so, for example, to create an SQLite database on a specific file, you do:

[code]

and to use Postgres passing host and database, for example, you just do:

[code]

[2020-07-08 12:40] FCO commented on #328
Please, let me know if you have any other question

[2020-07-08 12:56] samebchase commented on #328
Hey thanks @FCO. That was what I needed!

[2020-07-09 09:01] #326 closed

[2020-07-09 09:02] #325 closed

[2020-07-09 16:33] #338 closed

[2020-07-09 16:33] #347 closed

[2020-07-09 16:46] #335 closed

[2020-07-09 16:46] #334 closed

[2020-07-09 16:46] #333 closed

[2020-07-09 16:53] #313 closed

[2020-07-14 05:27] samebchase opened #437 "Add documentation on how to do a JOIN operation"
Hi, I was able to read the tests and find out how to do a JOIN by calling the `^join` method.

Assume I have Table A with cols A1, A2 and Table B with cols B1, B2. Now, I do something like:

[code]
now, when I print `row`, I can see all the columns from B, but I cannot see any columns from A. How do I modify the select clause so that I can see columns from B as well?

In the generated SQL that is

[2020-07-14 17:43] FCO commented on #437
Hi! Thanks for this issue!

For getting fields from A and B you could do something like this:

[code]

But it will return as an array.

[code]

there is another way of doing that would be:

[code]

And that way, it's easier to pre-filter A:

[code]

But `.^join` and `.join-model` are used to create custom joins.
Maybe the best way of doing that would be making it a relationship to-1.
Relationships

[2020-07-14 18:12] FCO commented on #437
https://github.com/FCO/Red/blob/master/docs/tutorials/cookbook.md#custom-join

[2020-07-15 04:17] samebchase commented on #437
Hey @FCO,
This comprehensively answers my question that I got stuck on yesterday, and I hope it serves as a useful reference for anyone else running into the same question.
Will let you know as I use the library more.
Have a great day. 😎

[2020-07-16 00:15] FCO commented on #437
There is a new entry on cookbook to custom join: https://github.com/FCO/Red/blob/master/docs/tutorials/cookbook.md#source-and-source-id

[2020-07-16 05:36] samebchase commented on #437
I tried it out, and it worked correctly.

Hey, thanks for the above information, I was able to move further a little, but unfortunately I have hit another wall.

What's the best way to compose joins together?

i.e. if I have relation A with columns X1,Y1,Z1 which are all ids that need to be joined to three other relations X, Y and Z so that I have one compound relation what's the best way of going

[2020-07-16 07:41] FCO commented on #437
I've never tried anything like that. But why aren't you using relationships for that? If X has a relationship to Y and Y has a relationship to Z, just fetching X you would get all 3. (if those were to-1 relationships)

I'll take a look after day-job

[2020-07-16 09:31] samebchase commented on #437
Hey @FCO, thanks so much for the quick response, 🙏

Think of A as the base relation, and it needs some extra stuff from `X`,`Y` and `Z`. So in a sense I need to join `A-X`, `A-Y` and `A-Z`, so that the final franken-relation will have _everything_ from `A`, `X`, `Y` and `Z`.

I will try with relationships after I am done with $DAYJOB work. That might be more convenient.

[2020-07-16 13:03] samebchase commented on #437
Using relationships worked beautifully, thank you.

[2020-07-16 13:03] #437 closed

[2020-07-16 13:14] samebchase opened #438 "Getting a message printed when a column contains a JSON field with a null value"
I have some columns in PG which are of type `json`. Some fields in this JSON object can be `null`.

[code]

When I run the query, for many rows, the JSON parsing works beautifully, but for some I get an error message as follows:

[code]
Upon taking a closer look, the data on DB is something like:

[code]
This is what the row printed on console looks like:
[code]

I created a small test script wher

[2020-07-16 13:37] FCO commented on #438
Hi!

I'll need to take a look at it after $DAYJOB. Until there, could you run a test for me, please? Could you try adding a `quietly` before the line that's warning that?

I'll take a look, thanks!

[2020-07-16 15:10] samebchase commented on #438
Warnings are still printed with code like:

[code]

then I felt that the $row object creation itself is causing the warning to be printed, so I decided to wrap the entire for loop with a `quietly`.

[code]

and now I am not getting the warning.

I don't mind using `quietly`, but I wonder if this is not a symptom of something wrong I am doing or something erroneous that is happening.

[2020-07-16 17:50] FCO commented on #438
No, sorry, I did not suggest you use quietly on your code. I was just trying to use it to helo finding the bug.

I'm going to take a look now

[2020-07-16 18:07] FCO commented on #438
@samebchase I couldn't reproduce :(

[code]

Would you mind to share a bit more of your code, please?

Thanks

[2020-07-17 03:14] samebchase commented on #438
Hi @FCO, I'll try and get you a code snippet that exhibits this behaviour.

[2020-07-20 17:42] kawaii opened #439 "Specify table name convention on model creation"
When creating tables, `Red` generally does a good job with the naming convention, defaulting to using `_` in the case of `has Int $.user-id is id;` for example. _Some_ database systems allow for the use of `-` in their column names however, and `Red` provides no way to specify an override for the column name if you'd like to change this.

I suggest we allow a parameter to be set, allowing the user

[2020-07-20 18:14] Altreus commented on #15
I think of the highest importance in all of this is that the migrations are *SQL files*, in a directory. However you want to do your version management, that's up to the user, but it's of vital importance that the update is not calculated at runtime, because a bug in this could be insurmountable.

If you use the tool to output SQL, then let the developer edit the SQL if necessary, then have the de

[2020-07-20 18:26] FCO commented on #15
I like the option of Red generate the SQL and the developer be able to review/edit it. But is the advantage of the yaml instead of saving it directly on Red's syntax?

[2020-07-20 18:36] Altreus commented on #15
There is no specific advantage to YAML. They use it because it is convenient. I think we can avoid this step.

The YAML is used in order to accurately diff the two versions of the schema. They convert the schema to an internal format which makes it easier to diff.

The YAML is simply a serialisation of this data structure. This helps, because it means you can jump directly to this format for the p

[2020-07-20 18:58] FCO commented on #15
On Red we can use objs of this [types](https://github.com/FCO/Red/tree/master/lib/Red/Cli). They were made with that content in mind.

[2020-07-20 19:18] Altreus commented on #15
That would be super.

Here's my proposal then.

* Version 1 (or zero, doesn't matter to me) is a deployment. We create the SQL file for the whole database and serialise all the "types" that you mentioned
* Version 2 and onwards is a migration. We read the previous serialised types, compare to the current types, and output SQL.
* When a migration is performed:
  * We read the version from a special

[2020-07-20 19:55] kawaii opened #440 "$*RED-DB wasn't defined when red-defaults is present in sub package"
Let's say I have a module like `App::Example::Schema`, which contains my `red-defaults` like so:
[code]
And then I have my main script trying to call it like this:
[code]
We still get the `$*RED-DB wasn't defined` error.

[2020-07-20 22:07] Demayl commented on #440
Hi, i had the same problem ( within Cro ) and ended using
[code]
maybe this will help

[2020-07-21 00:01] FCO commented on #439
Now that's possible doing something like this: https://github.com/FCO/Red/blob/master/t/48-experimental-formater.t

[2020-07-21 02:59] kawaii commented on #440
@Demayl unfortunately I have the same issue when using your method, but I appreciate the suggestion. :)

[2020-07-22 06:58] #439 closed

[2020-07-22 17:52] FCO commented on #15
Why store the actual version of the database schema? Why not just compare tour classes with the current database schema?

[2020-07-22 17:59] Altreus commented on #15
You need to be able to run all the migrations between version X and the latest, because migrations might not simply be to update the schema; they might have data migrations in between as well. Therefore, you need to be able to discover what X is.

You might as well store a serialised version of the data structures used for comparing, essentially as a cache and a historical record.

[2020-07-24 14:20] melezhik opened #441 "Red Pg test fails"
Hi Fernando, I've restored a test environment for Red test with Pg. However current test fails:

http://rakudist.raku.org/sparky/report/debian/533

Interestingly, I don't see any tables created in test database:

[code]

However log shows that Red tries to create some Pg objects that already exist.

Please also pay attention, I only `drop/create database` at the beginning of the test suite, this c

[2020-07-24 16:37] melezhik commented on #441
Oh, looks like Red ignore `dbname` in `$RED_DATABASE` and use `red` db always:

[code]

[code]

[2020-07-24 19:57] FCO commented on #441
Thanks! I'm taking a look

[2020-07-24 20:15] FCO commented on #441
It seems it should be dbname instead of database:

[code]

I'll try to figuree out what to do with the database

[2020-07-24 20:21] melezhik commented on #441
yeah, changed in my script.

[2020-07-24 20:23] melezhik commented on #441
Maybe every time you create a table/view - give it a unique name so that it does not clash with existing one? Just a thought ...
Last time I had to "patch" Red's `*.t` files inserting a unique database name to every each of them, but I've removed this logic now ...

[2020-07-25 02:29] FCO commented on #441
I've made a way to drop tables and used that on tests, I've fixed a few bugs and skipped a lot of tests.
It should run the tests for PG with no error now.
I'll fix the skipped bugs as soon as possible.

Thank you very much!

[2020-07-25 03:36] melezhik commented on #441
Cool. You can yourself from http://rakudist.raku.org/ , just select debian OS (default) and https://github.com/FCO/Red as a module name.

http://rakudist.raku.org/sparky/report/debian/538

[2020-07-25 14:18] FCO commented on #441
Is there an API I could call from a GitHub action?
Is there a way to generate a badge based on that?

[2020-07-25 14:34] melezhik commented on #441
hi! you can look at this -
https://github.com/melezhik/RakuDist/blob/master/docs/api.md#travis-integration-example

or

this

https://github.com/melezhik/RakuDist/blob/master/docs/api.md#bash-automation-example

There is no badges right now. If you need one, feel free to create an issue
and I will think what I can do.

On Sat, Jul 25, 2020, 9:18 AM Fernando Correa de Oliveira <
notifications@githu

[2020-07-25 16:39] melezhik commented on #441
Rakudist tests could be wobbly at times, due to zef sporadic errors when fetching modules, but the last one succeeds!

http://rakudist.raku.org/sparky/report/debian/542

:smile:

[2020-08-03 18:38] rypervenche opened #442 "Possible memory leak?"
When running some code to convert two CSV files into an sqlite3 database, after letting the script run for almost a day, I eventually ran out of RAM (16G on my machine). I was curious to know if something in my code was wrong or if it was something else. As per your request, I am submitting an Issue.

Source CSV files:
[sentences](https://downloads.tatoeba.org/exports/sentences.tar.bz2)
[links](ht

[2020-08-04 12:25] FCO commented on #442
Have you tested that with Pg as well?

Thanks for your issue

[2020-08-08 03:10] FCO commented on #442
@rypervenche It seems SQLite is using that memory. It seems SQLite keeps growing memory usage while you keep inserting it.
I've done a test, I ran this command:

[code]

and the sqlite3 process kept growing it memory usage.
So, it seems to me it's not a Red issue.

Please, let me know if you still think that's a Red issue.

Thank you very much!

[2020-08-08 03:10] #442 closed

[2020-08-10 08:50] FCO opened #443 "Create GraphQL client driver"

[2020-08-25 16:32] Altai-man opened #444 "Why `Red` depends on `Red`?"
https://github.com/FCO/Red/blob/master/META6.json#L12 <- this seems redundant, no?

[2020-09-25 23:14] FCO commented on #444
Yes, it does. I'll fix that. Thanks!

[2020-09-25 23:15] FCO commented on #438
@samebchase any luck on golf?

[2020-09-26 09:26] samebchase commented on #438
@FCO: hey sorry, I did email you a snippet some time ago.

Let me try again with the latest version of RED/Raku and get back to you.

[2020-09-27 01:51] #444 closed

[2020-09-27 16:23] #153 closed

[2020-10-28 22:41] kawaii opened #448 "Unable to declare more than one `is unique` per model"
[code]
In the above example, the second `is unique` for `$.email` would be ignored, and the constraint only set on `$.username`.

Using `Red:ver<0.1.26>` with PostgreSQL 13.0.

[2020-10-29 00:06] FCO commented on #448
It seems named unique constraints isn't working either. (`is unique<bla>`)

[2020-10-30 20:54] FCO commented on #448
@kawaii could you validate that, please?

[2020-10-30 21:26] kawaii commented on #448
[code]
Looks good to me @FCO. :)

[2020-10-30 21:29] FCO commented on #448
Great! But it seems the test on GitHub didn't like it... :(

[2020-10-31 12:52] xinminglai opened #449 "A column being both pk and fk will raise error."
Below example code will raise error:

# example.raku
use Red:api<2>;

model A is table<aa> {
    has Int $.id is serial;
    has Str $.name is column;
}

model B is table<bb> {
    has Int $.a-id is column{ :id, :referencing(*.a-id, :model<A>) };
    has A $.a is relationship{ .a-id };
    has Str $.name is column;
}

red-defaults default => database 'SQLite';

schema(A, B).create;

my $a = A.^cre

[2020-10-31 13:59] FCO commented on #449
As discussed on IRC, the code was wrong, right? @xinminglai would you mind posting the working code here, please?
Anyway, this error is at least LTA. I need to fix that. Thanks

[2020-10-31 14:26] xinminglai commented on #449
Hi, This is modified version, Which works perfectly. So, We can safely close this bug, And I'll send a patch for cookbook

[code]

[2020-10-31 17:29] #449 closed

[2020-10-31 17:32] FCO commented on #448
The named multi unique constraints seem to be working well with this new commit:

[code]

[2020-10-31 17:32] FCO commented on #448
I should add a cookbook entry for that.

[2020-10-31 17:46] #448 closed

[2020-11-01 02:37] melezhik opened #451 "RakuDist test ( with Pg ) fails on the latest version"
Hi Fernando! I've noticed a test failed for Pg driver - http://rakudist.raku.org/sparky/report/debian/852

[code]

HTH

Alexey

[2020-11-01 21:42] FCO commented on #451
I've fixed the test and it should be working, but it probably won't. It seems it's flickering to create 1 or the 2 tables...

[2020-11-01 22:37] melezhik commented on #451
As usual:

* go to rakudist.raku.org/
* choose `https://github.com/FCO/Red` as  a module name
* hit "submit" button

[2020-11-02 00:33] FCO commented on #451
It seems to be passing...

[2020-11-02 00:40] melezhik commented on #451
yeah ...

[2020-11-04 11:44] #451 closed

[2020-11-04 11:54] FCO opened #452 "Add `:has-one` to `is relationship`"
Currently, there is no way of doing a one-to-one relationship, only one-to-many is doable, where:

[code]

will use remote's `.fk` to do the relationship, (becoming a has-many)
and

[code]

(the difference is the sigil `$` or `@`)
will use local's `.fk` to do the relationship (becoming a belongs-to)

if I want to do a one-to-one (a has-one and a belongs-to), currently I need to do a has-many and c

[2020-11-04 12:19] Altreus commented on #452
I think prefetch should be a property of using the relationship, not defining it. What data you're about to use depends on what you're about to do, so whether or not you prefetch (potentially through multiple tables) is in the hands of the user.

[2020-11-04 17:17] FCO commented on #452
@Altreus I totally agree but I couldn't find a good syntax for defining it on "query-time".

[2020-11-04 17:21] FCO commented on #452
maybe something like (using the example):

[code]

but I'm not sure if I like it

[2020-11-04 22:12] FCO commented on #452
I've created a new experimental feature called `has-on`, and now this works:

[code]

and prints:

[code]

[2020-11-05 17:11] FCO opened #453 "Accept :prefetch<> parameter om .^all and .^rs"
make it an experimental feature
(related to #452)

[2020-11-08 05:08] #421 closed

[2020-11-18 23:52] FCO opened #454 "many to many relationship"
One of the best ways of doing a many-to-many relationship is something like this:

[code]

But that has some problems, for example, it's not so easy to create new objects, so I think it should be improved.
Maybe something like this:

[code]

But I'm not sure about that syntax. The important part is the @ sigil and some way of specifying 2 model/key pairs.

Something that should be defined is that

[2020-11-18 23:59] FCO commented on #454
maybe all should be accepted (with a more consistent syntax)

[2020-11-20 17:33] melezhik opened #455 "Documentation error?"
Hi @FCO! I run this example from Red's doc an get an error:

http://rakudist.raku.org/sparky/report/RakuPlay-3/1373

[code]

HTH

Alexey

[2020-11-20 17:34] FCO commented on #455
Thanks, I'll fix that.

[2020-11-20 17:41] melezhik commented on #455
yeah, you can always run code samples to check your doc/code in RakuPlay - https://sparrowdo.wordpress.com/2020/11/19/rakuplay-introduction/

[2020-11-20 21:38] FCO commented on #455
It seems to be fixed now (https://rakudist.raku.org/sparky/project/RakuPlay-2)
Thank you very much!

[2020-11-20 21:38] #455 closed

[2020-11-20 22:34] melezhik commented on #455
cool. the correct link is that - https://rakudist.raku.org/sparky/report/RakuPlay-2/1402 😄

[2020-11-21 12:55] xinminglai opened #456 "infix:<in> with ResultSeq doesn't work as expected."
[code]

With above code, We'll get error which is:
`Dynamic variable $*RED-FALLBACK not found ...`
When we add line `my $*RED-FALLBACK = False`, The error turns to:
The relationship '@!aa-bb' points to a column ('aa-id') that does not refer to any where
  in block  at /opt/amd64/share/perl6/site/sources/93D3C49859D2DD5C9204DC4E4E1E7883C9EEE911 (Red::Attr::Relationship) line 75
  in code  at /opt/a

[2020-11-21 13:56] xinminglai commented on #456
[code]

Hi, I upgraded the test script, I think they both belongs to the same cause.
Please check, Thanks.

[2020-11-21 14:27] FCO commented on #455
Thanks again!

[2020-11-21 21:07] FCO commented on #456
.join-model column name problem and the FALLBACK problem are fixed (https://github.com/FCO/Red/blob/master/t/53-hand-made-many-to-many.t) but not the in problem yet.
I've added the .join-model solution on your example to my test and that's working...
I'm still working on the in problem

[2020-11-22 00:00] #456 closed

[2020-11-22 00:01] FCO commented on #456
Fixed

[2020-11-27 00:55] FCO opened #457 "Accept .sort: { $^a.col <=> $^b.col }"

[2021-01-05 12:51] tzjan opened #459 "Can't create a floating point column on SQLite backend"
Hello,
I have tried to create a floating point column with the following statements.
All columns created are varchar(255). Am I doing something wrong?
[code]
--- Debug output:
[code]

[2021-01-05 13:03] FCO commented on #459
Thanks for opening this issue! I'll fix that ASAP

[2021-01-05 13:06] FCO commented on #459
But until that's fixed, you can use any type you want using the following syntax:

[code]

[2021-01-05 18:40] tzjan commented on #459
Hi, I have tried `is column{ :type<REAL>};`  in column col5, but it doesn't work.
I also tried "real", "Real", but it doesn't worked.
But maybe that's an other issue.

Thx, for checking that so fast !!!!

[2021-01-05 23:16] #459 closed

[2021-01-05 23:19] FCO commented on #459
@tzjan it seems to be fixed, would you mind to give it a try and reopen this issue if you find a problem, please?
here my test seems to be like this:

[code]

[2021-01-16 02:36] xinminglai opened #460 "ResultSeq should take snapshot of table name to build the results."
# We need to take snapshot of table name within ResultSeq, so below example may work as expected.

sub get-seq ($table-source) {
    temp Model.^table = $table-source;
    Model.^all.grep({ ... });
}

my @rs-seq = get-seq("model_new_table");

[2021-02-07 05:56] japhb opened #461 "SQL generated with untranslated column name"
Given the table:

[code]

which Red created in the SQLite database as:

[code]

Red responds to this code looking up character screen names for a given persona:

[code]

with:

[code]

but that fails because `mugs_characters.screen-name` has a hyphen in it instead of an underscore.  Most other queries have been generated with something more like `mugs_characters.screen_name as "mugs_characters.scr

[2021-02-13 16:29] vtdevpm opened #462 "Could not find relationship model when model files are deep in a file structure"
When I test the [example blog2 ](https://github.com/FCO/Red/tree/master/examples/blog2)in the following configuration:
./lib/Database/Person.rakumod
./lib/Database/Post.rakumod
./index.raku

I adjust index.raku with the proper paths:
[code]

But I get an Error when it tries to create a Post table: "**Could not find Person in:** [list of my raku bin lib]"

If instead of putting the models inside th

[2021-02-13 17:18] khalidelboray commented on #462
Did you rename the classes to Database::Person and Database::Post ?
If you didn't, i think this triggered the issue here.

[2021-02-13 17:40] vtdevpm commented on #462
I don't think it is the issue.
1- in my example, the Person table is created. Only the Post table that prefetchs $.author has an error.
2- the name of the models are used to name the tables. Turns out Database::Person is an invalid table name...

[2021-02-14 01:09] vrurg commented on #462
You can use `is table` trait on a model to bind it to a specific table. Otherwise, if I'm not mistaken, `Red` transforms `::` into `_`. `Database::Person` should by default map into `database_person`.

[2021-02-14 01:23] vrurg opened #463 "Any way to update an existing model instance from DB?"
Is there a way to update a model instance from a DB if the record in the DB was changed? Something like `$model.refresh`? Or even `$model.refresh('attribute_name')`?

[2021-02-14 03:07] FCO commented on #463
No, there is nothing like that currently. That may be a good idea (but as a metamethod (.^refresh)). While we do not implement something for that, maybe something like this could me used:

[code]

[2021-02-14 03:16] FCO commented on #462
Exactly, Red, by default, do that, but you can use `is table` to set the tables name to whatever you want. There are also 2 experimental features that allows you to change that behaviour, the `formaters` one  and the `shortname` one (https://fco.github.io/Red/tutorials/experimental.html).

[2021-02-14 03:22] FCO commented on #461
Thank you very much for your report! I'll take a look at that ASAP. (Sorry for the delay on the response)

[2021-02-14 03:24] FCO commented on #461
Hi, @japhb! Would you mind to tell me your Red's version? I thought I've already fixed that double unique issue.

[2021-02-14 03:35] vrurg commented on #463
I meant `refresh` to be a metamethod, actually. Anyway, `$model = ` is not what I need. My actual need is due to me attempting to implement JSON-RPC over WebSocket (done, actually) with authorization/authentication. My auth API is implemented by a session model. It's a multi-role object which also does `Cro::HTTP::Auth` and `Cro::RPC::JSON::Auth`. It updates `user_id` column upon login and `expire

[2021-02-14 04:36] japhb commented on #461
Hmmm, looks like I'm slightly behind (0.1.26 instead of 0.1.29):

[code]

Ah, I see I was still building from my local tree from when I sent the PR last fall, and hadn't merged your updates.  Fixing that and rebuilding.

[2021-02-14 06:32] FCO commented on #463
I think that’s a easy thing to be done, I’ll implement that as soon as possible.

[2021-02-14 06:34] FCO commented on #461
Please, let me know if that fixed both iasues

[2021-02-14 08:32] jonathanstowe commented on #462
I think this is the same as #81

[2021-02-14 11:22] FCO commented on #81
I've forgotten mentioning it here, but I've created 2 new experimental features that modifies this behaviour:
- `shortname` that makes Red use only the shortname of the module to generate the table name
- `formats` that allows you to set functions that will be used to generate the tables and columns names. eg:
[code]
(https://fco.github.io/Red/tutorials/experimental.html)

[2021-02-14 14:02] FCO commented on #461
I've done a small test here, it seems to be working:

[code]

[2021-02-14 18:36] FCO commented on #463
@vrurg I've done a new experimental feature called `refreshable`. That  adds a `.^refresh` meta-method on defined model. It accepts a list of columns names or nothing at all, and "refreshes" those columns (ar all columns if no list was defined) with the actual data from the database.

[2021-02-14 22:55] vrurg commented on #463
@FCO Though I wrote it on IRC, but anyway: thanks again for so fast response!

That's all good news I have. Then bad news come. It doesn't work for pre-compiled models. Or, at least, it looks like pre-compilation of more than one model results in an STable conflict. It's not clear to me what why exactly it happens, but most likely it's caused by adding a role. As a result we get a new copy of `Mod

[2021-02-14 23:12] japhb commented on #461
Looks like both bugs were indeed fixed in the latest version.  Thanks for taking a look, and sorry to waste your time!

[2021-02-14 23:12] #461 closed

[2021-02-14 23:45] FCO commented on #463
Thanks for your message! Sorry for not making it work. Is there any code you could share to let me try to fix it? I'll try to fix that ASAP.
Thanks

[2021-02-14 23:55] vrurg commented on #463
So far, I'm afraid, there is no good fix for as long as `MetamodelX::Red::Model` is used in `EXPORTHOW::DECLARE`. For now I think this is what causing the `STable` conflict error message because Rakudo tries to merge `Red::EXPORTHOW::DECLARE` with two different `model` symbols in them. BTW, same problem is with `migrations` and `supply` – they use the same approach.

The really good fix would use

[2021-02-15 00:27] FCO commented on #463
I'll try some changes as well as soon as I can

[2021-02-15 10:21] vtdevpm commented on #462
Thank you.

So the solution is:
1- rename the models `Person` and `Post` to `Database::Person`, `Database::Post` to respect the file structure
2- use the trait `is table` to avoid the issue #81

[2021-02-15 10:21] #462 closed

[2021-02-15 10:51] jonathanstowe commented on #81
It's probably too late but `FORMATER` is spelled wrong :-D

[2021-02-15 10:55] jonathanstowe commented on #462
Or use the experimental `formaters` feature and supply a sub in `&*RED-TABLE-FORMATER` that will convert the model class name to a format of name that you want to use.

[2021-02-15 11:03] jonathanstowe opened #464 "Slight amendment to `&*RED-TABLE-FORMATER`?"
Hi,
for the `&*RED-TABLE-FORMATER` `formaters` feature it might be nice to have the option to supply either the `Red::Driver` or something else that can determine the DB in play to the formatting sub so that DB specific rules can be applied (for instance introducing a namespace or schema qualification to the table name.)

The thing that calls the sub can do a check on the signature before  using w

[2021-02-15 12:31] FCO commented on #464
that's a great idea! maybe for the table- and for the column-formater.
Thanks!

[2021-02-15 12:38] FCO commented on #462
or use the experimental `shortname` that will use the shortname of the model as the table name.

[2021-02-15 13:37] jonathanstowe commented on #464
I'm guessing it would even be possible to pass a multi with each DB type catered for per candidate if one wanted to support multiple different databases with different rules nicely.

[2021-02-15 14:51] vrurg commented on #463
Not sure how will my day go, so wanna share an idea I have.

I tried implementing a slang yesterday. There is a weird problem with Rakudo which doesn't let me do it: to implement meta-ops Rakudo mixins `Oper` roles into the grammar and it overrides any slang installed! Dunno if I be able to get it fixed. So, let's say slang doesn't work for us here.

Another idea came to me too late to try it. But

[2021-02-15 16:37] FCO commented on #463
Thanks, I'll give it a try.

[2021-02-15 16:49] FCO commented on #464
I'm now thinking if it would make sense to have the formatter method on Red::Driver (each driver could have its own table name formatter) and it could be overridden on each driver. Or have something like:

[code]

and it could return a string (used as the table name) or a Pair, where the key would be the schema and the value the table name (or maybe a Red::SchemaTable object)

@jonathanstowe what

[2021-02-15 21:03] jonathanstowe commented on #464
Sounds good to me. :+1:

[2021-02-16 01:00] FCO commented on #463
@vrurg I've tried to do that with mixin on compose. It seems to work with pre-compilation, but it's breaking anything with using relationship. https://github.com/FCO/Red/commit/41e0dfdda59742aac3139858872f78e154d278e3
I'll continue trying tomorrow, but if someone could help me to find the problem, it would help a lot.

[2021-02-16 01:02] vrurg commented on #463
I was totally wrong about `compose`. See #465 for the correct approach where `HOW` gets mixins before it's instantiated.

[2021-02-16 01:07] vrurg commented on #463
Meanwhile, I have played with the PR. Unfortunately, I see no positive performance outcome of refreshing just one attribute comparing to complete fetch of a record. Haven't done debugging yet, though, as the patch was done just a couple of minutes ago.

In either case, the ability to update a record from within itself is useful feature on its own. I missed it as such.

[2021-02-16 01:50] vrurg commented on #463
My bad, copy/paste error resulted in incorrect benchmark. So, tested with a simple session record of columns stringy `id`, integer `user-id`, and integer `expires`. Refreshing of single `expires` column is about 1.7 times faster, then re-fetching the whole record with `.^load`.

[2021-02-16 02:05] FCO commented on #463
Great! And thank you very much for all the help!!!

[2021-02-16 02:09] vrurg commented on #463
I have a funny update in #466.

[2021-02-16 02:30] vrurg commented on #463
There is a bug with parameter-less `.^refresh`: it resets `expires` column to `Any` for me. Perhaps it's a one-off problem as the column is the last attribute of model. When moved one position up in the list of attribute declarations things work as expected. Same time, `user-id` which is a `referencing` column, is not affected neither when it's second last, nor when it's the last one.

And thank y

[2021-02-16 03:04] FCO commented on #463
Is expired populated on DB?

[2021-02-16 03:05] vrurg commented on #463
Sure, it is.

[2021-02-16 03:23] FCO commented on #463
Could you share part of the code to let me try to fix it tomorrow, please?

[2021-02-16 03:44] vrurg commented on #463
I barely have time to make something runnable on its own. But hopefully the provided snippets would serve well enough.

[code]

I provide the entire benchmark script. So, perhaps you would manage to find out why refreshing is currently slower than `.^load`.

[code]

[2021-02-16 15:48] vrurg commented on #463
A note on performance. All this time I was running it on Rakudo HEAD. The latest update broke Red up to the level of moar SIGSEGV'ing when trying to run some tests. So, I switched to 2020.12 release. This has magically fixed the performance! Refresh is now ~1.3 times faster than full load.

[2021-02-16 16:24] FCO commented on #463
thanks for letting me know! But `expires` is still becoming `Any`, right?

[2021-02-16 19:30] FCO commented on #463
it should be fixed, could you retry, please?

[2021-02-16 20:27] vrurg commented on #463
Fixed, thank you! I think the issue can be closed now.

[2021-02-16 20:27] #463 closed

[2021-02-16 23:42] FCO commented on #81
Is it fixed now?

[2021-02-18 02:05] FCO commented on #464
first step: https://github.com/FCO/Red/commit/55e737da030e9c71dacc47f2de874a7025ed37f9 https://github.com/FCO/Red/commit/9da5a98b8f72683ae76ccf1821666856ca7ba5c7

[2021-02-18 15:54] ugexe opened #467 "Don't use `use lib ...` is installable code"
https://github.com/FCO/Red/blob/1a446a1de240f2754ac331397def05c2604bc6a8/bin/red#L2

The above is not an ideal thing to do. Once installed it will keep adding a `$PWD/lib` repository in the repo chain which means 1) it will have to recalculate repository ids for any repos later in the chain, which results in needing to precompile again when `$PWD` changes even though code is installed 2) potential

[2021-02-18 16:16] FCO commented on #467
thanks I'll fix that!

[2021-02-18 23:12] #467 closed

[2021-02-22 07:36] FCO commented on #454
It's easily done with `$post.post-tags>>.tag`, so no need for special syntax.

[2021-02-22 07:36] #454 closed

[2021-02-24 16:10] rfilipo opened #469 "Red model from DBIx::Class schema"
There is an easy way to generate a Red model from some regular DBIx::Class schema? It could be a great improvement as many Perl apps use DBIx::Class. It could facilitate converting old apps from Perl 5 to Raku, for example.

[2021-02-24 17:34] jonathanstowe commented on #469
I've got one knocking around somewhere that I've used for a project of my own.  Let me clean it up a bit and I'll post it up somewhere.

[2021-02-24 18:56] FCO commented on #469
Thank you @jonathanstowe, I’m looking forward to see that! :)
And thank you for the great idea @rfilipo ! :) I’m glad you are interested on Red! :)

[2021-02-24 19:24] jonathanstowe commented on #469
There you go https://github.com/jonathanstowe/dbic-to-red - it works but it can probably be improved upon.

[2021-02-25 00:10] FCO opened #470 "Should we remove the WiP from the description?"

[2021-02-25 03:08] atroxaper commented on #470
Probably we need a roadmap to reach version 1.0 (like cro project has).

[2021-02-25 07:04] jonathanstowe commented on #470
I think for some people the "WIP" tag may make them think that there is going to be a lot of self assembly required so they may pass it by, and there won't be a crucial bug report or feature request.  I think "Alpha release" might be better as it gives the impression of "working but there may be some rough edges" and encourages a different level of participation.

And yeah a realistic set of crite

[2021-02-25 07:38] FCO commented on #470
Ok, that makes sense! So, what do you guys think are the basic features we should have for our first beta release?

[2021-02-25 17:23] #469 closed

[2021-02-25 17:38] FCO commented on #470
https://github.com/FCO/Red/projects/3

[2021-02-25 17:40] #452 closed

[2021-02-25 17:44] #406 closed

[2021-02-25 17:46] #342 closed

[2021-02-25 17:47] FCO commented on #336
create a "traps" section?

[2021-02-25 17:48] #329 closed

[2021-02-25 17:51] #322 closed

[2021-02-25 17:52] FCO opened #471 "Add more exemples ans explanations on Relationship tutorial"

[2021-02-25 17:53] #319 closed

[2021-02-25 17:53] #318 closed

[2021-02-25 17:53] #317 closed

[2021-02-25 17:54] #316 closed

[2021-02-25 17:54] #314 closed

[2021-02-25 17:55] #312 closed

[2021-02-25 17:55] #310 closed

[2021-02-25 17:55] #309 closed

[2021-02-25 17:56] #307 closed

[2021-02-25 17:58] #271 closed

[2021-02-25 17:58] #270 closed

[2021-02-25 17:58] #269 closed

[2021-02-25 17:58] #268 closed

[2021-02-25 17:58] #267 closed

[2021-02-25 17:59] #228 closed

[2021-02-25 18:01] #193 closed

[2021-02-25 18:01] #189 closed

[2021-02-25 18:01] #188 closed

[2021-02-25 18:01] #187 closed

[2021-02-25 18:01] #186 closed

[2021-02-25 18:01] #185 closed

[2021-02-25 18:14] FCO commented on #149
now N-M relationships ar handled with 2 1-N relationships and 1 method, for example (the tags and the posts methods):

[code]

[2021-02-25 18:15] #149 closed

[2021-02-25 18:15] #143 closed

[2021-02-25 18:16] #142 closed

[2021-02-25 18:24] FCO commented on #141
Let's create Red::Type!

[2021-02-25 18:25] #140 closed

[2021-02-25 18:33] #133 closed

[2021-02-25 18:35] #121 closed

[2021-02-25 18:41] FCO commented on #114
it should, probably, have a way to pass parameters to the model and let it be used/tested by the driver.

[2021-02-25 18:45] FCO commented on #111
That would be cool if it was possible to do something like:

[code]

Thanks @federico-razzoli !

[2021-02-25 18:54] #108 closed

[2021-02-25 18:55] #100 closed

[2021-02-25 18:55] #99 closed

[2021-02-25 18:56] #87 closed

[2021-02-25 18:56] FCO commented on #83
Sone by `schema(...).create`

[2021-02-25 18:56] #83 closed

[2021-02-25 18:56] #46 closed

[2021-02-25 18:56] #45 closed

[2021-02-25 18:57] #29 closed

[2021-02-25 19:01] #21 closed

[2021-02-25 19:02] #16 closed

[2021-02-25 19:02] #7 closed

[2021-02-25 19:03] jonathanstowe commented on #141
Yeah I'll take a look at that if I get a minute (juggling a few ideas at the moment,)

[2021-02-25 19:05] FCO commented on #470
I've created that `Beta release` project with 25 issues. I think when those issues become closed, we can remove the WiP from the description.

[2021-02-25 20:11] jonathanstowe commented on #151
This may have gone away with the "being more frugal with stringification" thing that was fixed a while back.

[2021-02-25 21:04] FCO commented on #151
Thanks!

[2021-02-25 21:04] #151 closed

[2021-02-25 21:15] jonathanstowe commented on #434
I'm not quite sure what this one is addressing, if its intent is to populate a bunch of default value (possibly dynamically,) then it probably wants to be called `defaulted-by` and take a Routine that takes the supplied arguments to `^create` and returns a hash of the actually arguments that will be used.

On the other if the intent is to create a bunch of new rows then it's probably a `^populate`

[2021-02-25 21:37] jonathanstowe commented on #151
The oroblem with not loading Red::Operators and the stringifaction were related in asmuch as if you ended up with e.g. the plain `eq` that doesn't know about the `Red::AST` versions it would end up stringifying the whole `ResultSeq` and because that stringified the relations to any depth this would blow up quickly.

[2021-02-25 22:26] FCO commented on #434
The intent were to add another option to ^populate (https://github.com/FCO/Red/blob/master/lib/Red/Cli.pm6#L145), but now I’m rethinking it… I don’t think that’s needed… I’ll close this issue, thanks! (Unless you disagree)

[2021-02-25 22:27] FCO commented on #141
:) thanks! I won’t have time today, but I’ll take a look at it this next weekend

[2021-02-26 06:41] jonathanstowe commented on #434
Got ya!

[2021-02-26 07:49] #434 closed

[2021-02-28 04:19] #178 closed

[2021-02-28 04:21] #158 closed

[2021-03-01 02:03] FCO commented on #141
I've been trying to implement this this weekend and the way I think it should work started shifting.

I've been using the Vector type as example, the way I was thinking it would have a `inflate` (that would read receive the value stored on the column (the type of the column would be decided by the type passed to the Red::Type[$type] role) and return a Vector object), `deflate` (that would return a

[2021-03-01 02:09] FCO commented on #141
Maybe the trait on $.vec could create a specialization of Vector the know what class it's being used with...

[code]

would create a `Vector but role :: { method used-on { VectorList } }`. Even better if we do that on the meta class.

[2021-03-01 02:18] FCO commented on #111
It would even be cooler if it do that on every query on systems that do not accept the generated column...

[2021-03-02 12:38] federico-razzoli commented on #111
Just to add some context: now PostgreSQL supports generated columns too. Though the syntax is slightly different and Postgres doesn't support virtual columns (values generated on the fly when needed).

[2021-03-02 16:40] FCO commented on #111
Thanks!

[2021-03-09 04:36] vrurg opened #472 "Back-referencing relationship: am I doing it a wrong way?"
I'm trying this simple structure:

[code]

It ends up with:

[code]

Basically, the idea is that `m2` is a kind of profile attached to a user account `m1`. It's `id` will always be the same as account's `id`. And there will always either be a profile record, or not. So, `$m1.m2` could be either defined or undefined.

Ok, if `Red` expected a record in `m2` to always exists for corresponding `m1` re

[2021-03-09 13:21] FCO commented on #472
Red's relationships, by default, expects a relationship $ to @, so if it's a @, and it will searches the id on the $ one. If on that relationship it's $ to $ (to-one relationship), it will try to find the id on it self (on both sides). To change that, you can use the experimental feature "has-one", that adds the parameter `:has-one` to the `is relationship` trait to mean it's a 1-to-1 relationship

[2021-03-09 13:23] FCO commented on #472
I'd like to have more people testing it to let it evolve and make it not experimental anymore.

[2021-03-09 15:53] vrurg commented on #472
Thanks! I thought that a scalar relationship is not experimental anymore.

In the form you provided it does create the schema. But then troubles begin. `m1` itself is created, no problem. Then I try:

[code]

It results in

[code]

I try it other way around:

[code]

And it goes without an error, but:

[code]

So, we end up with no `m2`.

Eventually, the only one which works is:

[code]

Not the m

[2021-03-09 20:50] FCO commented on #472
I think I've "kinda fixed it"... but there is a problem...

[code]

I don't know how to populate `m1-id` once the m1 object wasn't created when I'm creating the m2 one.
Maybe I should create it on the opposite order... I'll give it a try.
Any suggestions?

[2021-03-09 23:22] FCO commented on #472
@vrurg now it seems to be working! It will work for a single id (I have to find a way to make it work for multiple ids)

[code]

Could you test it out, please?

[2021-03-10 03:00] vrurg commented on #472
Ok, so far `m1.^create: :name<test>, :m2{ :descr<test-descr> };` does work. But for already existing record `$m1.m2.create: :descr<...>` – doesn't. I don't consider it a big issue as it is easily replaceable with `m2.^create: :m1-id($m1.id), :descr<...>`. Less pretty, but functional.

One way or another, it works and I have ways to proceed. Thank you!

Just one question out of curiosity: do we rea

[2021-03-10 03:34] vrurg commented on #472
Perhaps a useful observation. Here is debug print I get with my almost real life models:

[code]

It feels to me that one `SELECT` here is redundant. Or, perhaps, it's not but then one of them must not fetch all columns.

Otherwise, when trying to introspect the data I put into a DB here is what I get when refer to a `has-one` attribute:

[code]

Haven't golfed it down to something comprehensible

[2021-03-10 08:15] FCO commented on #472
Yes, `$m1.m2.create` do not work. That works for to-N relationships because it returns a ResultSeq, and that's not the case for to-1 or has-1 relationships. Those return the object or Empty. So, it does not have a create method. I've been wondering if it shouldn't return a ResultSeq if there is no object to be returned. That way `.create` would work.

The reason we need `:has-one` is: a relationsh

[2021-03-10 08:43] jonathanstowe commented on #472
If rather than `Empty` it returned the type object of the related model it could have a `^create` however, the slightly trickier part would be populating the primary key of the created row back into the first row,  _handwaving slightly_ , the first object could apply a temporary role to the target model with a closure to populate the foreign key or something I guess.

[2021-03-10 14:54] vrurg commented on #472
With regard to `has-one` – it's too much into internals of `Red` for me to get into now. With regard to `create`, here is an idea to consider:

[code]

Apparently, this will require more work to be done correctly. For example, with `has $.a is rw is foo` `Attribute.container_descriptor.default` has to be properly set to handle `$foo.a = Nil`. I'll see how this could be done later today.

Similarly

[2021-03-10 21:57] vrurg commented on #472
Ok, the above example was a quick hack, a proof of concept. Here is what I came up with to support assignment of `Nil` and assignment in principle:

[code]

The interesting part of it is that it is actually possible set attribute type to the model it is refers to. I.e.:

[code]

[2021-03-11 03:49] vrurg opened #473 "Schema doesn't create uniques with Pg"
Taken these three models and using `schema` to create actual tables and there will be no `unique` defined for any of tables in the postgresql DB:

[code]

Produced SQL statements:

[code]

This works as expected for `SQLite`, though:

[code]

Same applies to primary key declaration, BTW. It's not as apparent as for uniques, but I had related questions until mentioned the `PRIMARY KEY` statement in

[2021-03-11 10:12] FCO commented on #473
The problem seems to be [here](https://github.com/FCO/Red/blob/master/lib/Red/Driver/CommonSQL.pm6#L174), we are not adding any kind of constraint here other than FK.

[2021-03-14 03:56] vrurg opened #474 "ResultSeq `create-comment-to-caller` method can result in a warning"
The cause is a line like the following one in a test suite:

[code]

It results in:

[code]

I managed to track it down to the following line in ResultSeq.pm6:

[code]

Backtrace at the moment of warning consists of exactly three frames:

[code]

This causing `.tail(*-3)` to result in `Nil` and `%data` is consequently filled with `Any` values.

What is really confusing me is that the bug is a flap

[2021-03-15 00:35] FCO commented on #474
Thanks! I'll take a look as soon as possible

[2021-03-21 20:57] FCO commented on #473
@vrurg could you please confirm if that's working for you? Thanks!

[2021-03-21 22:28] FCO commented on #474
I've been trying to reproduce this with no luck. Could you share some code to let me reproduce it, please?

[2021-03-21 22:31] FCO opened #475 "Create a way for `has-one` relationship use `.create` (created after #472)"
take a look at #472

[2021-03-21 22:32] FCO commented on #472
Closing this one and creating #475 to continue the `.create` discussion.

[2021-03-21 22:32] #472 closed

[2021-03-21 23:30] FCO commented on #409
I was revisiting this now... no luck to find the reason yet.

[2021-03-21 23:32] FCO commented on #409
[code]

[2021-03-23 21:09] whatnext opened #476 "The error message said to open an issue so here it is..."
I got the below info running

zef install Red

Some possibly relevant info:

# raku --version
Welcome to Rakudo(tm) v2021.03.
Implementing the Raku(tm) programming language v6.d.
Built on MoarVM version 2021.03.

# zef info Red
- Info for: Red
- Identity: Red:ver<0.1.38>:auth<Fernando Correa de Oliveira>:api<2>
- Recommended By: Zef::Repository::Ecosystems<cpan>
- Installed: No

# cat /etc/*-relea

[2021-03-23 21:38] jonathanstowe commented on #476
The output of `sqlite3 --version` ( or `sqlite --version` )  may also be useful.

[2021-03-23 21:42] whatnext commented on #476
sqlite3 --version
3.7.17 2013-05-20 00:56:22

[2021-03-23 21:54] jonathanstowe commented on #476
The latter error will be because of:

I'm not sure if it's possible to inspect the version of sqlite so as to degrade the available features gracefully.

[2021-03-23 22:00] jonathanstowe commented on #476
that said if those are the only errors it's likely that it would it would work with SQLite if you avoid those specific features.

[2021-03-24 08:43] whatnext commented on #476
Thanks @jonathanstowe - those were indeed the only errors, so I've forced the install. I'll post an update when I find out if it works...

[2021-03-26 06:08] japhb opened #477 "SQLite UNIQUE constraint violation unrecognized"
Since the error asks to open an issue ...

[code]

Note that this unique constraint failure is **INTENTIONAL**; it's how MUGS ensures that easily confused identity names aren't created in the same universe, by having a table that has reserved names mapped/folded to deconfused names, with a unique constraint on the deconfused column.  If a new row can't be added to that table, there's a confusable

[2021-03-28 21:22] #477 closed

[2021-03-28 22:29] FCO commented on #476
@whatnext hi! is that working?

[2021-03-29 12:02] whatnext commented on #476
@FCO so far so good... I was leaving it until I had more implemented before updating this thread, but it doesn't look like there are any issues now

[2021-03-31 07:05] FCO commented on #476
Ok, thanks! I'll close this issue then, please reopen if needed.
Thank you!

[2021-04-20 17:04] jonathanstowe opened #478 "Problems with runtime application of roles to row objects."
In [Tinky::DB](https://github.com/jonathanstowe/Tinky-DB) the `apply-workflow` method that comes from the `Tinky::DB::Object` role (which in turn gets it from `Tinky::Object` ) applies a further role at runtime which is generated based on the configuration of the workflow.  This works fine if the class doing the Tinky::DB::Object is a _normal_ class, but really comes off the rails if it is a Red m

[2021-04-24 08:05] jonathanstowe commented on #478
I _think_ that it may be because the `TWEAK` is getting wrapped multiple times in the `compose-dirtable`  just testing.

[2021-04-24 08:16] jonathanstowe commented on #478
Okay, testing whether the wrapping has occurred previously (by applying a role to the `TWEAK` when it is wrapped,) results in both cases giving the same `Ambiguous call` exception, which is progress of sorts,

[2021-04-24 08:35] jonathanstowe commented on #478
Narrowed down to `compose-columns` unconditionally adding the multi for the accessors, seems eminently fixable.

[2021-04-24 09:49] jonathanstowe commented on #478
Nearly there with checking for the presence of the accessor before creating it, because they are created as `multi` it doesn't blow up if there is an existing method of the same name, I may refine the test to allow methods with the same name but a different signature.

Now to discover why the `col-data-attr` is winding up undefined in some circumstances.

[2021-04-24 18:48] FCO commented on #478
Sorry, I've just seen that now! Trying to understand...

[2021-04-25 10:01] jonathanstowe commented on #478
I've nailed this last bit down, it seems that somehow when the model is being recomposed during the role application the `$!col-data-attr` is not set *but* the `%!___COLUMNS_DATA___` does exist, possibly due to the order in which the attributes are added back or something.  So I think re-jigging the `set-helper-attrs` so that it looks up the `%!___COLUMNS_DATA___`  and, if it exists and `$!col-dat

[2021-04-25 11:51] jonathanstowe commented on #478
Oh not quite, in the `does` case the `TWEAK` gets called an additional time which causes the column values to be lost.

[2021-04-25 14:31] jonathanstowe commented on #478
.... which is because the content of the already existing and populated `%!___COLUMNS_DATA___ ` is being overwritten by an empty one.

[2021-04-25 17:14] jonathanstowe commented on #478
There.

[2021-04-25 17:38] jonathanstowe commented on #478
FWIW I only discovered this because I fixed a problem in Tinky whereby the role that is created to reflect then transitions in the workflow was failing to be applied under some circumstances (and papered over with a `try`.)

[2021-04-26 23:26] #478 closed

[2021-04-29 21:34] kawaii opened #480 "Some method to enable PostgreSQL extensions?"
It's nice that Red can create tables for me if they don't already exist, but would it be possible to have some way to enable extensions when they are needed? Or perhaps this is already possible? :)

Example, allows for use of the 'uuid' column type;
[code]

[2021-05-04 13:37] FCO commented on #480
That's a good idea!
But for now, if needed you can do something like this:

[code]

[2021-05-04 13:47] FCO commented on #475
@vrurg but on that case, Foo.attr should return a Red::Column to make it possible to be used inside .map, .grep, etc...

[2021-05-04 13:48] FCO commented on #473
@vrurg any news about this?

[2021-05-04 19:57] vrurg commented on #473
Oh, my... I haven't even replied to your previous request! Sorry for that.

No, I had to put aside that project for indefinite period of time. Still hope to sort numerous issues out and get back to it before June.

[2021-05-07 00:16] kawaii opened #482 ":if-not-exists flag for schema(...).create?"
[code]
Is there some syntax to apply the `:if-not-exists` flag when using this way of creating my tables?

[2021-05-07 18:09] FCO commented on #482
I'm planing a
[code]
That will update your db's actual schema for your model defined schema.

[2021-05-07 18:11] FCO commented on #473
Thanks for your reply! Would you mind if I close this issue and if you find that's not working you reopen it?

[2021-05-09 01:06] #473 closed

[2021-05-16 13:12] FCO commented on #464
I'm rethinking it... maybe we could just add the `table-formatter` on each driver, and one could change the formatter with something like:

[code]

or even accept it as parameter on [database](https://fco.github.io/Red/api/Red/Database)

[2021-05-31 14:22] vrurg commented on #474
Just've stumbled upon this issue. Perhaps, it's better to close it for now. Not sure if I myself would be able to reproduce the problem any time soon.

[2021-05-31 14:22] #474 closed

[2021-06-01 13:52] patrickbkr commented on #470
I like, that you take documentation seriously.

[2021-06-26 14:00] jonathanstowe opened #484 "Multi-column `.join-table` produces whacky SQL"
Given some code like:

[code]
The SQL generated is:

[code]
Whereas I'd expect it to make something more like:

[code]

Obviously the generated SQL doesn't actually work with real data.

The self join in the example is just for convenience (and reflects my real world code,) it does the same with separate models.

[2021-06-26 17:08] jonathanstowe commented on #484
Ah, laid siege to it and worked out how to achieve that:

[code]

**Does** make the expected SQL, thought it's a little non-obvious (I'd forgotten about the special `AND`. )  Also it suggests that there is a need for (`Red::AST`, `Red::AST`) candidate for `eq` because that doesn't work here (it doesn't affect the result, but that's what most people would go given a Str typed column.)

[2021-06-26 17:12] FCO commented on #484
It seems to be a problem on an Optmizer or the lack of an Optimizer (I mean [here](https://github.com/FCO/Red/tree/master/lib/Red/AST/Optimizer)). I'll take a look as soon as I have some time...

[2021-06-26 17:34] FCO commented on #484
Odd, `eq` yes should wait for `(Red::AST, Red::AST)` but also should `==`. And `Foo.a` should return a `Red::Column` that IS a Red::AST

[2021-06-27 17:32] FCO commented on #484
What about now? I've added the optimization:

[code]

[2021-06-27 18:07] jonathanstowe commented on #484
Looks good to me :+1:  The example is fine, I'll try it on the real code tomorrow,.

[2021-06-27 18:11] FCO commented on #484
I think all that will be much easier with RakuAST...

[2021-06-28 09:10] jonathanstowe commented on #484
Okay the original example is fine, *but* the wheels come off again if there are additional clauses:

[code]

Which results in:

[code]

Which is remedied by  changing the `&& !$a.f` to `AND !$a.f`

[code]

[2021-06-28 09:15] jonathanstowe commented on #484
There's another weirdness in my actual code where it is losing the bind but I think that's something else.

[2021-06-28 09:19] jonathanstowe commented on #484
The bind thing may be a difference between `SQLite` and `Pg` (where I'm running the actual code,) as otherwise the code is functionally identical.

[2021-06-28 09:22] jonathanstowe commented on #484
Not Pg vs SQLite.  Weird.

[2021-06-28 09:43] jonathanstowe commented on #484
Even weirder, if `$today`, `$yesterday` are passed into a `sub` it loses the bind, if they are created locally it's fine, it appears to be whether the variable is writeable or not.  So that's something for another time.

[2021-06-28 12:55] jonathanstowe opened #485 "Provide for `date(timestamp_column) = '2021-06-28'`"
I find myself using this pattern quite often and it's quite difficult to implement with what there is right now.

I see it being implemented in two ways: firstly as an explicit `.date` column method on `DateTime` typed columns much the same as e.g. `.day` so it can be used in comparisons with a `Str` for instance,  and also a new candidate for the `eq` (or `==`,) operator where the LHS is a `Red::

[2021-06-28 19:35] FCO commented on #484
It seems to be more missing optimization...

[2021-06-29 01:25] FCO commented on #485
I'll try to take a look at it as soon as possible! (Sorry for not seeing this before)

[2021-06-29 01:29] FCO commented on #485
Yes, I think we can do something like the [.day() method](https://github.com/FCO/Red/blob/master/lib/Red/ColumnMethods.pm6#L61)

[2021-06-30 18:58] jonathanstowe commented on #485
The PR'd implementation would probably be enough for me to be honest.

[2021-06-30 19:11] FCO commented on #485
I've just have done this:

<img width="798" alt="image" src="https://user-images.githubusercontent.com/99834/124018025-52803380-d9df-11eb-878a-662702350638.png">

[2021-06-30 19:32] FCO commented on #485
I've asked, on your PR, to rename that to `.yyyy-mm-aa()` what do you think?

[2021-07-01 18:10] #485 closed

[2021-07-02 08:21] patrickbkr opened #487 "Values missing on INSERT for attributes with "-" in their name"
RED-DEBUG:
[code]

Note how `source-retrieval-retries` is given a value of "1" but the SQL has a value of "0" (the columns default value). `commit-sha` is missing entirely, while `status` and `creation` are present.

Schema:
[code]

[2021-07-02 09:53] patrickbkr commented on #487
I now have a different theory. (After replacing every "-" with "_" in the schema). It may actually be the enums that are ignored. In the example above `status` is actually passed its default value.

[2021-07-02 10:25] FCO commented on #487
I think I've [thought about that](https://github.com/FCO/Red/issues/34) but haven't implemented that yet, sorry. I'll take a look as soon as possible.

[2021-07-02 11:44] patrickbkr opened #488 "Forbid .^create on non-type-objects"
This has the potential for very hard to find bugs.

The following puts an uninitialized object into the database.
[code]

[2021-07-02 12:51] FCO opened #489 "Inflate should receive as 2nd parameter the attribute type"
It will probably make it easier to write 1 inflate function to any enum (related to #487)

[2021-07-02 19:46] patrickbkr opened #490 "LTA error with missing `use Red:api<2>`"
The following error only appears with the code spread across multiple files. If one inlines `CITestSetManager.rakumod` into `test.raku` it disappears. It's reproducible.

[code]

DB.rakumod:
[code]

CITestSetManager.rakumod:
[code]

test.raku
[code]

[2021-07-02 20:32] patrickbkr commented on #490
The reason for the misbehavior is, that CITestSetManager.rakumod missed a `use Red:api<2>;`.
My concrete problem is now solved, but the error is definitely LTA as it gives no indication whatsoever about what's actually wrong. I'll adapt the title accordingly.

[2021-07-03 01:00] #489 closed

[2021-07-03 01:25] #488 closed

[2021-07-03 02:25] FCO commented on #487
@patrickbkr Could you, please, confirm if it fixed the problem, please?

[2021-07-03 02:25] FCO commented on #487
@patrickbkr Could you, please, confirm if it fixed the problem, please?

[2021-07-05 20:45] patrickbkr commented on #487
Confirmed. enums now seem to just work in my use case. Thank you!

[2021-07-05 20:45] #487 closed

[2021-07-06 22:45] FCO commented on #332
Use https://github.com/FCO/Pod-Test-Code

[2021-07-07 23:02] #300 closed

[2021-07-09 17:37] jonathanstowe opened #491 "view as model"
Sometimes an SQL query may be too complex to express as a Red expression or there is a DB view that expresses some key business logic that may be shared between applications or some such.

It would be nice if it was possible to define a model as a view with something like:

[code]

It would also be nice if there was some `is virtual` trait on the  model definition such that rather than using the v

[2021-07-09 22:16] FCO commented on #491
Those seem great ideas! Thanks!

[2021-07-09 22:32] FCO commented on #491
Maybe that's doable by overriding the ResultSeq for that model...

[2021-07-09 22:36] FCO commented on #491
And maybe creating a Red::AST::PlainSelect is Red::AST::Select

[2021-07-09 22:39] FCO commented on #491
No, to extend it and continue creating the query it will need to be converted to AST... :(

[2021-07-10 23:42] #184 closed

[2021-07-15 10:45] jonathanstowe opened #492 "`join-table` creates bad alias for model in nested package."
Given this:

[code]

It explodes with:

[code]

As it uses  the name of the model class to derive the alias.  It also ignores the `name` parameter which I guess is intended to provide the alias.

Result is the same on `Pg`.

[2021-07-15 10:51] jonathanstowe commented on #492
I'll make a PR for the `name` part as this gets me past the current problem.

[2021-07-15 16:36] jonathanstowe commented on #484
I think this is fine now.

[2021-07-16 21:17] patrickbkr opened #495 "SELECTing enums generates broken WHERE in most cases"
[code]

Outputs:

[code]

Note that only the last SELECT has a useful WHERE statement and returns a result.

[2021-07-17 07:13] jonathanstowe commented on #495
It looks like the simplest fix for this would be to make a `ast-value` candidate for `Enumeration` which calls `ast-value` with the `.value` of the `Enumeration` rather than making a whole bunch of new operator candidates.

I'll take a quick look.

[2021-07-17 07:31] jonathanstowe commented on #495
Okay not quite as simple as that after all.

[2021-07-17 08:04] jonathanstowe commented on #495
Okay, operator candidates it is.

[2021-07-17 08:33] jonathanstowe commented on #495
Yeah, operator candidates work.  I'm guessing that there are already more specific candidates in core for the `Enumeration` case which are selected over the less specific ones implemented by `Red`.

BTW `===` is not defined by Red so you'll always get the core version which will always return `False` for a column LHS, so actually that one is right.

[2021-07-17 08:49] jonathanstowe commented on #495
And also, in teh `M.^all.grep(*.my-e ⊂ (a))` case you will be getting the single value `a` not a `Positional`, (this is raku's behaviour,) to force a single item list you need to have a trailing comma: `M.^all.grep(*.my-e ⊂ (a,))` or use a `List` instead: `M.^all.grep(*.my-e ⊂ [a])`.

[2021-07-17 09:40] jonathanstowe commented on #495
There.

[2021-07-17 10:04] jonathanstowe commented on #490
The reason for this, as you may have gathered, is that without the `use Red` you are not getting the additional operator implementations specific to `Red` so you wind up with the core operators only.  This is similar to e.g. #100

Personally I don't think that there is much that can be done to give a better error message as the `grep` doesn't know what the matcher is going to do up-front.

[2021-07-17 10:51] jonathanstowe commented on #490
Also, which I forgot, is that it is only necessary to `use Red::Operator` rather than the whole of `Red` in these cases.

If you really don't want to worry about that you could re-export the `Red::Operator` exports (the operators,) with something like:

[code]
In your `DB` module.

[2021-07-19 00:21] FCO commented on #490
I also can't see how to do that... :(

[2021-07-19 00:23] FCO commented on #495
I've being also trying to do that, and I plan to throw a X::NYI on ===...

[2021-07-23 08:25] patrickbkr commented on #490
Can't one just add some probing to the meta methods that look whether the operators are available in the calling scope?

[2021-07-23 10:25] jonathanstowe commented on #490
The difficulty is it's not the scope of the methods, it's the scope of, e.g., the matcher supplied to `grep` which could be defined _anywhere_  and possibly not even use the Red versions of the operators.

[2021-07-23 10:33] FCO commented on #490
It may be possible when we do the RakuAST based version of it and get hid of those operators (if that will be possible)

[2021-07-23 10:44] patrickbkr commented on #490
But wouldn't that heuristic catch nearly all cases? I'd assume that the matcher is given inline to `grep` most of the time.

[2021-07-23 11:03] jonathanstowe commented on #490
I'd say that in a moderately large or complex program the chances are that the opposite would be true.  I'm working on some code at the moment that has a 191 character expression,  I definitely wouldn't want to be forced to define that inline (and in this case it can't be because additional logic in the code selects a specific matcher depending on context.)

[2021-07-23 11:51] patrickbkr commented on #490
But if the check only emits a warning which can be silenced by adding `use Red::Operators:ver<2>;` to the top of some file, you wouldn't be forced.

[2021-07-23 11:54] patrickbkr commented on #490
I do agree that such a check wouldn't be considered clean in about any sense of the word. But it might be pragmatic and could be removed at any time as it's only a check.

[2021-07-26 08:48] jonathanstowe opened #499 "Model *name* as string for `join-model`"
It would be useful to have a multi candidate for `ResultSeq.join-model` that can be supplied the *name* of a model rather than the type object.

Obviously this can be worked round but it would be specifically useful where one is creating a `many-to-many` type relation in a model where the model definitions are separated in different files.

[2021-07-27 10:51] jonathanstowe opened #500 "Can't use `is unique` on a `referencing` column"
Where one has a "link table"  who's only purpose is to join two other tables it is common to make the foreign key pair unique, however given:

[code]

Will result in:

[code]

Without the `is unique`  it works fine.

I guess it's just add a named `unique` option to the `referencing` though making the additional trait work too would be nice.

[2021-07-27 10:59] jonathanstowe commented on #500
Actually if the traits are the other way round (i.e. with `is unique` first,) then it works fine.  So likely the `unique`  needs to be sensitive to having the other trait applied first.

[2021-07-27 19:30] FCO commented on #500
Thanks! I'll take a look at it!

[2021-07-31 08:29] jonathanstowe opened #501 "multi-column `group by` in e.g. `.classify`"
I might be missing something quite obvious but it doesn't seen possible to create a `group by` with more than one column using `.classify`.

It's probably implement `.reduce` as per #61 as `.classify` doesn't seem the right place to do this.

[2021-07-31 23:17] FCO commented on #501
Sorry, I'm on vacation without my computer... but isn't it just a case of returning a list os columns from the classify block?

[2021-08-01 07:34] jonathanstowe commented on #501
I thought so too, but no it doesn't work,

Enjoy your holiday.

[2021-08-01 11:49] FCO commented on #500
It should also work with something like:

[code]

[2021-08-01 11:53] FCO commented on #499
Ok, I'm planing to accept string and also create a new :requires param (as we do on relationships and references). Does that make sense? (I will just not be able to do that while I'm computerless... 😀 )

[2021-08-01 12:19] jonathanstowe commented on #500
Yeah.

[2021-08-01 12:31] jonathanstowe commented on #499
Sure,  as I say  there is a workaround so not urgent.

With all of these I'm finding them while working on a PoC for something at work so setting them aside so as not to get buried in a pile of yaks.

[2021-08-08 21:40] FCO commented on #492
Is this fixed with your PR? Can I close it?

[2021-08-09 05:48] jonathanstowe commented on #492
yes, all good.  Please feel free to close.

[2021-08-09 07:01] #492 closed

[2021-08-12 14:11] FCO commented on #438
Is that still a thing?

[2021-08-13 17:37] samebchase commented on #438
Hey @FCO, I'm on paternity leave. It will take some time for me to test it out again. 😅

Will let you know if I have further issues. Thanks for making Red. It's a great library.

[2021-08-14 02:55] FCO commented on #438
Congratulations!

Thank you for answering!

Sent from my iPhone

[2021-08-27 09:30] jonathanstowe opened #503 "Inexplicable constraint failure on Pg"
Straight off the bat I'm fairly certain this isn't actually a problem with `Red` but something to do with the running environment (Amazon RDS,) but I'm just putting this here in case I'm missing something fundamental.

I've got some code which is functionally equivalent (in the actual code it's actually inserting many child rows,) to:

[code]

Which does exactly what I expect :

[code]

**But** wi

[2021-08-28 07:29] jonathanstowe commented on #503
On reflection, I'm wondering whether this form should create an _implicit_ transaction under the hood as I think the expectation would be that a single statement should be _atomic_ as far as the caller is concerned and  what actually happens (that the parent row is inserted and the rows for the relation are inserted individually,) is an implementation detail.

I'll have a think how best to address

[2021-08-28 08:18] FCO commented on #503
I could swear the ^create with multiple creations was made inside a transaction... but I've looked the code and I was wrong. Yes, that should be done inside a transaction. I'll create a new issue for that.

[2021-08-28 08:19] FCO opened #505 "make ^create of multiple items atomic"
On reflection, I'm wondering whether this form should create an _implicit_ transaction under the hood as I think the expectation would be that a single statement should be _atomic_ as far as the caller is concerned and  what actually happens (that the parent row is inserted and the rows for the relation are inserted individually,) is an implementation detail.

I'll have a think how best to address

[2021-08-28 16:58] jonathanstowe commented on #503
I'll put a note on that ticket, there are another couple of things regarding transactions that need considering.

[2021-08-28 18:32] jonathanstowe opened #506 "Nested transactions."
The SQL Standards are a bit handwavey about nested transactions and different DB backends handle it different, but for our current purposes both Pg and SQLite basically ignore any subsequent `BEGIN` before a `COMMIT` or `ROLLBACK` :

[code]

[code]

This has implications for code like:

[code]
Where the implicit transaction formed ( after the #505 ,) by the first statement in the `red-do` will cre

[2021-08-28 21:10] jonathanstowe opened #507 "Concurrency *within* transactions."
I think that the following may just be a very strong warning in the documentation as I can't actually think of a sane way of fixing it, though your mileage may vary.

Consider some code that does something like:

[code]

With the `Pg` driver,  the #504 essentially isolates a transaction from other concurrent access outside the transaction by creating a new instance of `DB::Pg` with its own connect

[2021-08-29 00:05] FCO commented on #506
Maybe the rollback should work independently of the depth?

[2021-08-29 00:09] FCO commented on #507
That's a hard problem... I think we'll need to think about that...

[2021-08-29 00:34] FCO commented on #507
If it was returning the Promise we could use that to decide to commit or rollback and when. And doc it saying that if you any to use multiple threads inside a transactional red-do block, you should return a "control promise" or maybe a "control awaitable"... or simply await it inside the block.

It would also be good to invalidate the driver after a commit/rollback to give a nice error message if

[2021-08-29 09:24] jonathanstowe commented on #506
That only works if any _inner_ transaction block propagates an exception that will skip any remaining _outer_  calls.  If an inner block signals that it wants a rollback by returning `False`  (possibly determined by some non DB activity,) then calling the  _inner_ rollback will cause  any remaining statements outside the block to not effectively be in a transaction any longer.

So something like:

[2021-08-29 09:28] FCO commented on #506
I’m starting to agree that the transaction manager may be the way to go.

On Sun, 29 Aug 2021 at 10:24, Jonathan Stowe ***@***.***>
wrote:

--

Just another Perl Hacker,
Fernando (SmokeMachine)

[2021-08-29 10:34] jonathanstowe commented on #507
While thinking about some additional complexities in the #506 the idea of a "transaction manager" began to suggest itself.  The transaction manager can use any driver specific features that are available.

In this specific case for Pg, a "two phase commit" with [prepared transactions](https://www.postgresql.org/docs/12/sql-prepare-transaction.html) might contain a solution, as the commit or rollba

[2021-08-29 13:35] jonathanstowe commented on #506
Another advantage of having a transaction manager is that if someone disagrees with the strategy chosen, or has differing requirements then they can implement their own.  It also opens the possibility to *distributed* transaction management which is something I've been thinking about for a while.

[2021-08-29 13:42] FCO commented on #506
I think that sounds great! Any suggestion on how that should work?

[2021-08-30 06:35] jonathanstowe commented on #506
In a sort of handwavey way, I'd see there being a single transaction manager within the dynamic scope of  an outer transaction (i.e the first `red-do` creates one,) which will create its own connection.  It will have a `begin` method that may issue a `BEGIN` to the DB if necessary and will return a transaction object against which any 'rollback' or 'commit' which will have a promise held by the tr

[2021-08-31 13:30] jonathanstowe commented on #506
I'm beginning to think that a general purpose "Transaction Manager" could be developed separately, to work out what the interface should look like and how it would work for a variety of different services.

[2021-09-12 09:00] jonathanstowe opened #510 "Weird relation confusion on Pg"
Given code like:

[code]

On *Pg* only it will fail with:

[code]

On *SQLite*  it succeeds.

What seems to be happening is that at https://github.com/FCO/Red/blob/master/lib/MetamodelX/Red/Dirtable.pm6#L115 the attribute `B.a-id` has got the `Red::Attr::Relationship` and so passes the supplied *key* to  `.set-value` (which expects row object.)

If the relationship `B.a` is omitted _or_ if it is r

[2021-09-12 10:21] jonathanstowe commented on #510
Confusingly up to the point the attempt is made to insert the row the attributes appear to be identical between *Pg* and *SQLite* So it must be something that is happening in the `create`  possibly the way that the`RETURNING *` is handled (the failure above occurs *after* the row in 'B' has been inserted.)

[2021-09-12 11:56] jonathanstowe commented on #510
yep, it's in the https://github.com/FCO/Red/blob/master/lib/MetamodelX/Red/Model.pm6#L671  the supplied `$data` for `Pg` is the data returned by the `RETURNING *` which is keyed on the column name, (so in the above case has `a => 'FOO'`,) and the `%cols` merges the column name and attr name.

I suspect this will require a separate %cols-by-attr and %cols-by-col to work around the clash in this cas

[2021-09-12 12:53] jonathanstowe commented on #510
Ah, more specifically it needs a col name to attribute name map, it's that part that's causing the problem.   So by using the  `attr-name` of the resolved column rather than the key from the supplied data we should be good.

If the tests pass there will be a PR.

[2021-09-12 21:37] vrurg commented on #160
I don't think I'd have time to get this investigated. Fell free to close this issue if you think it's polluting the tracker.

[2021-09-12 21:39] vrurg commented on #166
I think this is better be closed too. If anything like this would ever happen again it deserves another issue with better golfing down to some sample code.

[2021-09-12 21:55] #510 closed

[2021-09-12 22:07] vrurg opened #512 "Emitted events set is incomplete."
I'm trying to revive a homebrew project of mine. In the project I'm trying to automate DB management by recording all project tables (models) with their versions and whatever meta info I may need to manage them. The code was written prior to me switching to use of `schema()` and was based upon overloading `create-table` method of `MetamodelX::Red::Model`. Unfortunately, `schema` works differently,

[2021-09-19 03:59] FCO commented on #501
I'm fixing it, I hadn't enough time yet today, but `.classify(...).keys` is already working on my implementation, now I'm fixing the rest. I hope I have some time tomorrow to play with that.

[2021-09-19 20:07] FCO commented on #501
@jonathanstowe could you see if something like [this](https://github.com/FCO/Red/commit/e879eda9092a0aa6d1ef5cd7ad8f0375b39bbd8e) would solve the problem? I still have to add some tests and resolve how Bag and Set should work,

[2021-09-19 20:38] jonathanstowe commented on #501
I'll take a look in the morning :+1:

[2021-10-01 11:53] patrickbkr opened #513 "Type constraints in models are ignored on assignment"
[code]
The above prints "Hi Str".

While the corresponding
[code]
prints "Type check failed in assignment to $!foo; expected Int but got Str ("Hi")
  in block <unit> at -e line 1"

[2021-10-01 11:56] FCO commented on #513
Thank you for your issue! I'll take a look as soon as possible

[2021-10-03 01:24] FCO commented on #513
Hi @patrickbkr thank you again! Could you confirm that was fixed, please?

[2021-10-03 19:17] patrickbkr commented on #513
The error message is a little bit different, but now errors when using `model` as well.

With `class`:
[code]

With `model`:
[code]

[2021-10-03 19:31] jonathanstowe commented on #513
could probably get the same backtrace by applying `is hidden-from-backtrace` however that may hide other problems,

[2021-10-03 22:49] FCO commented on #513
I've added the `is hidden-from-backtrace` @jonathanstowe has suggested and also added the symbol to the exception to make the errors message closer to the original (I think now it's exactly equal). @patrickbkr is that working for you?

[2021-10-06 12:41] patrickbkr commented on #513
I tried it and it looks perfect. Thanks!

[2021-10-11 18:18] jonathanstowe opened #514 "Aggregates in e.g. map"
It would be handy to be able to express aggregate functions in a `.map`, `.classify` set so one can do something like:

[code]

It strikes me as simply providing for methods on the `Red::Column` that generate the `Red::AST::Function` for , say, `min`, `max`', `sum`, `avg` etc.

It would also be good to able to express similar for a related resultseq for

[code]

I'm not so sure about the syntax fo

[2021-10-13 11:43] jonathanstowe commented on #505
Right in my actual code I'm getting:

[code]

for every row in the "child relation" that is added.  Let me try and replicate in something I can share.

[2021-10-13 23:24] #505 closed

[2021-10-14 17:23] jonathanstowe opened #516 "new problem in Red::Driver::SQLite"
Not quite getting this, seems to happen even with the `use DBDish::ErrorHandling;` added:

[code]

[2021-10-14 20:06] #516 closed

[2021-10-16 01:14] #503 closed

[2021-10-21 19:49] jonathanstowe opened #517 "Weirdness with a parameterized role"
I've just made `JSON::Class` into a parameterized role in order to support `opt-in`  which is all good, but when applied to a Red model like:

[code]

Results in :

[code]

It does work fine without the parameter.

And just so we're clear it isn't _just_ `JSON::Class` this gets the same result:

[code]

I think it's because the `compose` of the model may need to do something earlier if it gets a C

[2021-10-21 23:40] FCO opened #518 "Use RaCoCo"
https://modules.raku.org/dist/App::RaCoCo:cpan:ATROXAPER

[2021-10-22 00:00] FCO commented on #517
It seems to pass the tests (only fails on generating the docs). Tomorrow I’ll write sim tests to it and if everything is working, commit it

[2021-10-22 17:58] #517 closed, assigned to FCO

[2021-10-27 10:31] jonathanstowe opened #520 "Updating map on ResultSeq loses the joins"
Given something like:

[code]

Results in:

[code]

I'd expect the query to be something like:

[code]

I guess the `Red::AST::Update` needs to take the `table-list` into consideration.  I'm not sure if there are Driver specific syntax to consider.

Without the `save` it performs the correct query.

[2021-10-28 07:20] jonathanstowe opened #521 "IN sub-select generates SQL malformed SQL"
While looking at #520 I noticed that an `IN` with a sub-select like:

[code]

Gives rise to:

[code]

i.e.  it is omitting the required parentheses around the sub-select.

[2021-10-30 15:45] FCO commented on #521
@jonathanstowe could you confirm that's fixed?

[2021-10-30 16:05] jonathanstowe commented on #521
Yep that's great :+1:

[2021-10-30 17:55] #521 closed

[2021-11-02 12:11] FCO commented on #520
@jonathanstowe could you please take a look at https://github.com/FCO/Red/pull/522 ?
I've made UPDATE make some AST changes that would be good to have a 2nd pair of eyes on it.

Thanks!

[2021-11-02 15:23] jonathanstowe commented on #520
Looks good, the original example seems to play nicely and my project tests all pass (they've proved to be a good canary over they last few months.)

:+1:

[2021-11-04 20:25] FCO commented on #475
As @jonathanstowe have said on the original issue, I think returning a model type would be the best way, it could use the .join-on (the same method we use to find joins) to create it with the right external ids... I'll give it a try as soon as possible!

If we do that change, should that generate a new API version?

[![](https://api.gh-polls.com/poll/01FKP9ZJH7BJTF8WYT69761YVJ/Yes%2C%20it%20change

[2021-11-04 20:39] jonathanstowe commented on #475
I don't think it needs a different API version, because Empty is false, a type object is false.

[2021-11-06 15:15] FCO commented on #475
I'm still trying to figure out why... but my change is working if I define the referencing's model as type and does not work if I define it as string:

<img width="1230" alt="image" src="https://user-images.githubusercontent.com/99834/140614600-ab7ad38b-f292-4ad1-af62-cbbd8dcab915.png">

[2021-11-06 16:26] FCO commented on #475
for now: https://github.com/FCO/Red/pull/523

[2021-11-07 17:06] #520 closed

[2021-11-08 13:25] FCO commented on #512
I agree, but we'll need to find a way to make the specific model emit that event. Currently a user can tap events from a specific model, a specific driver or all events.

[2021-11-08 13:36] FCO commented on #512
maybe it would just be easier add 2 `model.^emit: $ast` on `create-schema`.

we could also do something like `for $ast.tables { .^orig.emit: $ast }` on `execute` but on that case, a select would be emitted not only the original model, but also on every model used as join, and a create table would no be emitted only by the table itself, but also by all tables that has a relationship with it. Maybe

[2021-11-08 14:27] vrurg commented on #512
Unfortunately, I'm not sufficiently well knows with Red internals. From what I remember, when I was trying to dig down the problem, it seemed to me that more generic solution would be to move the `emit` into `execute` internals. In this case only actually executing ASTs would be emitted. This could be costly, on the other hand. But since not everybody needs events they could be turned off altogeth

[2021-11-09 01:09] FCO commented on #490
Maybe something like [this](https://github.com/FCO/Red/pull/524/files#diff-d6f89617d084c512e03cca6a43ade8998b7f073ba0be011f82df7671733aedfe) could help with that.

[2021-11-09 08:52] FCO commented on #475
There are still some bugs on it... but it seems to be mostly working...

[2021-11-09 16:45] whatnext opened #525 ""syntax error at end of input" when deleting from a postgres table"
This is happening with

Table.^delete

and returns the following error message $*RED-DEBUG = True

SQL : DELETE FROM table
WHERE
BIND: []
    Unknown Error!!!
    Please, copy this backtrace and open an issue on https://github.com/FCO/Red/issues/new
    Driver: Red::Driver::Pg
    Original error: DB::Pg::Error::FatalError.new(message => "syntax error at end of input", message-detail => Str, messag

[2021-11-09 17:29] FCO commented on #525
Thank you! Could you try it again to see if it's fixed, please?

[2021-11-10 10:54] whatnext commented on #525
fix seems to work...

[2021-11-10 10:54] #525 closed

[2021-11-12 00:19] patrickbkr opened #527 "Enum on Pg: invalid input syntax for type integer: \"a\""
When running the enum test (copied and stripped down from t/62-inflate-deflate.t) on Pg, the following error results. Using SQLite makes the test succeed.

[code]

The full code I used to provoke the above message:
[code]

[2021-11-12 01:25] FCO commented on #527
This is just a work-around, but I hope that's enough for now. @patrickbkr could you confirm that's working for now, please?

(Red::Driver::Pg still has a bug that makes ` is serial` only work if the type is Int/UInt, so, please, change ` has     $.id    is serial;`  to ` has Int $.id    is serial;` )

[2021-11-12 01:50] FCO commented on #527
@patrickbkr the bug with Pg and serial should be fixed now

[2021-11-13 09:45] patrickbkr commented on #527
I can confirm things work again. Thanks for the very quick response!

[2021-11-13 10:32] patrickbkr commented on #527
Adding a grep to the test makes it break again with  the same error.

[code]

[2021-11-13 11:28] FCO commented on #527
I'll try to fix that as soon as possible

[2021-11-13 18:56] patrickbkr opened #529 "`MVM_str_hash_lvalue_fetch_nocheck called concurrently on the same hash` in Red::Model"
I work on an app that uses Red in parallel. I didn't look into it deeply, but I don't think I do something nasty.

The following patch is probably not the right fix, but does seem to work around the problem:

[code]

Full error message below.
[code]

[2021-11-13 19:15] patrickbkr opened #530 "Boolean checking DateTime columns fails when using Pg"
The following fails when using Pg. (It succeeds on SQLite.)

[code]

Error is:
[code]

[2021-11-13 19:25] patrickbkr opened #531 "Checking multiple existance checks results in empty WHEN clause"
[code]

Produces the following SQL:
[code]

[2021-11-13 20:11] jonathanstowe commented on #529
Seems about right,  any chance of a small example that can reproduce for a test?

[2021-11-13 20:53] patrickbkr commented on #529
I'm pretty sure the workaround in the OP should also include the read in the lock.

I'll see if I manage to create a test.

[2021-11-13 21:13] FCO commented on #531
It seems I've forgotten to test if it's the same column on both sides (https://github.com/FCO/Red/blob/master/lib/Red/AST/Optimizer/AND.pm6#L66) (and that should be false on that case. Would you like to test it? Im away from keyboard :(

[2021-11-13 22:11] FCO commented on #531
[This](https://github.com/FCO/Red/commit/19f213ae21cc70bb15ddba79ec82b71a2590e082) seems to fix that. I'll merge it.

[2021-11-13 22:20] #531 closed

[2021-11-13 22:48] FCO commented on #530
If you test if it's defined (`$_.bla eq "hiea" && $_.started-at.defined && !$_.finished-at.defined`) if works. I'll try to implement cast DateTime -> Bool for Pg

[2021-11-14 01:10] patrickbkr commented on #531
I can confirm this works. I think the same fix needs to be applied in https://github.com/FCO/Red/blob/master/lib/Red/AST/Optimizer/OR.pm6#L112

[2021-11-14 16:21] FCO commented on #530
[This](https://github.com/FCO/Red/pull/534) seems to fix that

[2021-11-14 21:38] #530 closed

[2021-11-21 18:14] patrickbkr opened #537 "Unknown columns in query in concurrent setting"
In code at the end Red generates SQL that tries to access columns that don't exist Resulting in:

[code]

[code]

[2021-11-21 19:59] jonathanstowe commented on #537
Humour me, but is it that the `$!fk-b` should be `$.fk-b`?

[2021-11-22 07:03] patrickbkr commented on #537
When replacing the `0.01` with `0.1` the program runs flawlessly. So I'm quite confident in saying that this is a concurrency issue.

[2021-11-22 08:33] jonathanstowe commented on #537
Yep, confirm.

What it looks like is that for at least the first attempt to assemble the query for the `A.^all` it loses the join to `B` but *does* include the columns from B.

Incidentally, by supplying the `:no-prefetch` to the `$.b` relationship this goes away.

I _think_ that is may be the use of `$*RED-OVERRIDE-COLUMN-AS-PREFIX` in the `lib/Red/Driver/CommonSQL.pm6`

[2021-11-22 09:06] patrickbkr commented on #537
Hmm. Can dyn vars bleed over into other call stacks? If they shouldn't but do it's a Rakudo bug, right?

[2021-11-22 10:59] jonathanstowe commented on #537
I'm not absolutely certain it's that, but looking at the translate method for a select that appears to be the only thing that may be shared.

[2021-11-28 02:40] FCO commented on #537
https://logs.liz.nl/raku/2021-11-28.html#02:21

[2021-11-28 03:34] FCO commented on #527
Could you confirm if it's fixed, please?

[2021-11-29 16:17] patrickbkr commented on #527
The example given in the first post now works. FCO++!

My app still fails with the same error though. New golf:

[code]

[2021-12-01 12:49] patrickbkr commented on #529
Fixed by #536

[2021-12-01 12:49] #529 closed

[2021-12-11 17:34] patrickbkr opened #538 "Dynamic variable @*UPDATE not found"
The below code causes the following error:
[code]

[code]

[2021-12-11 18:09] jonathanstowe commented on #538
FWIW, I think `$ts2.map({ $_.status = DONE})` should work (and produce the expected SQL,)

[2021-12-11 18:13] patrickbkr commented on #538
@jonathanstowe Can you elaborate? Do I understand you correctly that `$.test-set` is not a singular object, but a list? How?

[2021-12-11 18:16] jonathanstowe commented on #538
Actually no ignore me, I misread teh example code and mis-interpreted the error.

[2021-12-11 22:08] patrickbkr opened #539 "Red operators leak Red context"
The following code should print ```Hi 1``` but instead prints
[code]

[code]

[2021-12-19 14:40] FCO commented on #539
Thanks for the issue. I'll take a look asap. Do you know if `$ts2` was defined on your code? The problem here seems to me to be the `^create` not recognising `:ts1` as a valid named parameter (there is no attribute called `ts1`) so (just as new) it ignores that parameter. Than it creates a obj without relationship. Then when you try to access `$pts.test-set` it returns a CITestSet type object and

[2021-12-19 14:55] FCO commented on #538
It seems to be the same problem as the other issue: `$ts2` is undefined because the wrong names parameter is being used on `.^create` (`:ts1` should be `:test-set`) then it's running the same code path as in

[code]

But outside a map, so it can't find `@UPDATE` (that's defined inside `.map`). I probably should change that error message. Any suggestion?

[2021-12-19 15:01] FCO commented on #538
I think I should throw an exception when a column/relationship is accessed from outside internal Red code... I'll try to see if that's possible...

[2021-12-19 19:35] FCO commented on #539
Changing ti use the right named arg:

<img width="738" alt="image" src="https://user-images.githubusercontent.com/99834/146688325-707655df-9942-4edb-b0a8-6c1967e553d5.png">

[2021-12-19 20:08] FCO commented on #538
Using the right named argument (and adding `:update` to save (it seems a bug I have to take a look at)) it seems to work:

<img width="733" alt="image" src="https://user-images.githubusercontent.com/99834/146689293-7683c8ed-8714-4f00-8932-3b2f3016d760.png">

[2021-12-20 20:04] patrickbkr commented on #539
Ouch. That's me failing to golf my codebase. :facepalm: Thank's for taking a look at this!

I think this is solved. Closing.

[2021-12-20 20:04] #539 closed

[2021-12-20 20:06] FCO commented on #539
Good it's working! Have you seen my new branch? Do you think that would make it easier to spot that kind of problems?

[2021-12-20 20:15] patrickbkr commented on #538
@FCO Thanks for your investigation!

I'm not sure I understand it entirely. Is it working as designed when it runs `.status = DONE` in `map` context? If yes, how would the code have to look to do a normal attribute access?

The `:update` thing is a workaround and not something I should remember to use when updating existing objects, correct?

[2021-12-20 20:19] patrickbkr commented on #539
I have seen the branch. I think erroring on accessing columns on typeobjects will definitely make it easier to understand what's wrong in such cases. So a big +1 from me.

[2021-12-20 21:49] FCO commented on #538
Correct

Yes, it's working with `.map(...).save` but that's for a `ResultSeq` update. The problem on that code is that `$ts2` is undefined. Here is the code running using my last PR:

<img width="1260" alt="image" src="https://user-images.githubusercontent.com/99834/146836411-6bc01d68-176b-4eb2-b2bd-80b4af23990e.png">

[2021-12-20 22:33] patrickbkr commented on #538
@FCO Thanks for clarifying. Now I understand. So the only thing left in this issue is the `:update` thing.

[2021-12-21 00:08] FCO commented on #538
the issue about `:update` should be fixed now...

[2021-12-23 01:17] #538 closed

[2021-12-28 03:54] FCO commented on #514
I'm trying to figure out how to do that... the problem is `.bars` on `Foo.^all.map({ .a, .b, .bars.c.max })` (that I agree should be the syntax for doing that) returns a ResultSeq. I was able to make `ResultSeq.min` return the AST::Function when inside a map and a new ResultSeq when outside it... But that's not enough, the `.map` should be able to recognise it and handle the joins and the group by

[2021-12-28 17:14] FCO commented on #514
Maybe the solution is stop returning ResultSeq when calling @ relationship on type object and create and return a new UndefinedRelationship that would have the aggregate methods.

[2021-12-28 17:24] FCO commented on #514
Maybe instead of

[code]

We should do something like:

[code]

And the original should run something like:

[code]

[2021-12-28 19:16] jonathanstowe commented on #514
Yeah that looks sane, as long as the result is a further ResultSeq so it can be filtered, joined or whatever that would work.

[2021-12-29 19:10] FCO commented on #512
[This](https://github.com/FCO/Red/issues/512) is not the way you suggested but it should be enough for now, please let me know if it is.

[2021-12-30 15:43] vrurg commented on #512
@FCO I wouldn't be able to try to for a while, but looks like it would help me in that original problem. Yet, if somebody would wish to monitor execution of other statements, they may not have the chance to do it.

One idea has just crossed my mind. To reduce the cost of emitting from `execute`, it is possible to start an emitting thread whenever necessary. Submitting an AST into a channel is fast

[2022-01-13 05:57] samebchase opened #542 "Cannot find `pq` on Mac"
Hi, this is the error I get.

[code]

I did, `brew install libpq`, and got this output:

[code]

What's the best way to tell Red to use the libpq present in "/usr/local/opt/libpq/"?

[2022-01-13 06:12] samebchase commented on #542
Never mind doing `brew install postgresql` seems to have fixed the issue.

[2022-01-13 06:12] #542 closed

[2022-01-14 04:49] samebchase opened #543 "Having issues while trying to modularise code"
I have code something like:

[code]

which is working fine, but when I try to put `foo` into a file containing Models like so:

[code]

[code]

I first got `Undeclared routine foo`, so I changed it to

[code]

now I get, `Could not find id`.

My question is, how do I move the model definition to its own module, and then import it, and use its attribute in `grep` etc.?

[2022-01-14 07:28] jonathanstowe commented on #543
Your first modularised version should _fully qualify_ the model name:

[code]

Also use the `Red::Operators` - this brings in the special versions of the operators (e.g. `==` ) that know how to deal with `Red` objects.

[2022-01-14 07:41] samebchase commented on #543
@jonathanstowe Hmm, one of the first things I tried was to fully qualify the model name. The thing is, if `foo` is the problem, I should get an error with "can't find `foo`", but I'm getting it for the fields _in_ the model like `id`.

[2022-01-14 07:48] samebchase commented on #543
Another thing I'm trying is to pull out the DB code from `MAIN` like this:

[code]

[code]

Even the above is giving me the same error as before.

[2022-01-14 07:49] jonathanstowe commented on #543
[code]

Works as expected for me.

[2022-01-14 08:38] samebchase commented on #543
@jonathanstowe I'm using PG, and I don't need any tables to be created, just making queries.

https://github.com/FCO/Red/blob/master/examples/alive/Schema.rakumod#L62 I think I might need that `schema` call?.

[2022-01-14 09:15] jonathanstowe commented on #543
Right, then change the `database` with the correct details and remove the `create-table`.  I just used SQLite for convenience but it makes absolutely no difference to the outcome.

What would be perfect would for you to paste the actual message you are getting.

[2022-01-14 16:59] samebchase commented on #543
@jonathanstowe Hey thanks so much for the help, turns out, I followed the 'alive' example in the example code, and I've added the extra `:require<Schema>` in the model definition, (`:require<Models>`, in my case), and it seems to be working.

[2022-01-14 17:40] samebchase commented on #438
@FCO Hey long time,
This seems to be happening with nested JSON fields.

https://gist.github.com/samebchase/48107b480d771d42bb00771bb4520fdf

[2022-01-14 17:59] jonathanstowe commented on #543
:rofl:  to be honest some of my previous examples have been in the same situation and they are only barely concealed, on the other hand you'd have to be making software in the same domain to realise :rofl:

I've been planning on making an article on how I manage `Red` in a moderate sized application, but just never seem to find the time.

[2022-01-14 18:02] FCO commented on #543
I would love to read that!

[2022-01-14 21:39] FCO commented on #438
I think it's finally fixed! could you try it, please?

[2022-01-15 10:01] samebchase commented on #438
Amazing, it is fixed!

[code]

[2022-01-15 10:01] #438 closed

[2022-01-17 17:16] patrickbkr commented on #537
Is there anything I can do to help solve this issue?

[2022-01-18 08:55] FCO commented on #537
I'll have to find some time to look at it again... sorry for the delay

[2022-01-18 09:47] patrickbkr commented on #537
But is there anything I can do to help?

[2022-01-19 23:13] FCO commented on #537
I don't know... I'm trying to find a way to fix that. Please let me know if you have any idea of how doing that.

[2022-01-20 08:15] patrickbkr commented on #537
Can you provide an overview of the situation?

I think rakudo/rakudo#4654 is the cause of this bug. Correct?
Which dynamic variables are in use by Red? Which are causing the problem?
Which usage is causing the problem (file and line number)? Is there more than one problematic usage?

Random ideas without having a clear picture of the situation:
- Switch to using explicit arguments.
- Use explicit

[2022-01-31 19:27] FCO commented on #537
No, I don't think that's the cause anymore... I've done a few changes on your example and I'm getting this:

<img width="491" alt="image" src="https://user-images.githubusercontent.com/99834/151857198-dd16755b-52b3-4856-bd25-b72a3711ef1b.png">

or this:

<img width="1333" alt="image" src="https://user-images.githubusercontent.com/99834/151857273-924e1c72-b096-41a5-88e7-5894e02c3ced.png">

even if

[2022-01-31 19:28] FCO commented on #537
this is how I have removed the dyn var:

[code]

[2022-01-31 22:10] FCO commented on #537
It seems something dies [here](https://github.com/FCO/Red/blob/master/lib/Red/Driver/CommonSQL.pm6#L375-L385) on the 2 first iterations and @pre-join is not populated generating the wrong SQL. I don't know what dies yet, but when it doesn't happens (just happened a few times) it works for ever.

[2022-02-01 00:06] FCO commented on #537
Does or just don't loop as if .prefetch is returning an empty array

[2022-02-01 00:15] FCO commented on #537
no, that seems it's `$ast.of."{.name.substr: 2}"().^columns` that's returning an empty array

[2022-02-01 00:38] FCO commented on #537
If I access `A.b.^collumns` before the react, it works every time. It seems to be related to creating the model on join.

This works:

[code]

[2022-02-01 10:41] patrickbkr commented on #537
@FCO Red seems to now work reliably with respect to this bug, both in the golfed down test case as well as in my full app. :astonished:
Thank you very very much for biting through this!

[2022-02-02 01:09] #537 closed

[2022-02-02 01:13] #543 closed

[2022-02-02 23:13] FCO commented on #527
@patrickbkr could you confirm if that worked, please?

[2022-02-03 07:37] jonathanstowe opened #547 "Totally broken on HEAD"
This is by way of a headsup as it's unlikely a problem *caused* by Red, but the tests totally fail with:

[code]

[code]

It's basically all the tests.

Posted on https://github.com/rakudo/rakudo/issues/4748

[2022-02-03 08:01] jonathanstowe commented on #547
Okay that was just a passing commit on rakudo , seems fine with the absolute latest.

[2022-02-03 08:01] #547 closed

[2022-02-03 13:37] patrickbkr commented on #527
I can confirm, that I can now successfully run my app using postgres. Whoot!

I did have to revert 809e4587520465b22 though as that commit caused:

[code]

DB.rakumod:213 is `schema(DB::CITest, CIPlatformTestSet, DB::CITestSet, DB::GitHubPullState, DB::GitHubPR, DB::Command).create;`

I had a look. It seems that the model object didn't have `emit` methods (yet?) thus falling back to `Mu.emit`.

[2022-02-03 23:50] FCO commented on #527
That should be a meta method call. it was missing a `^`.
Could you confirm if that's working without reverting that commit, please?

[2022-02-04 12:38] patrickbkr commented on #527
I can confirm it's working now as of latest HEAD. Thank you!

[2022-02-04 12:38] #527 closed

[2022-03-22 01:09] FCO commented on #409
Is this still happening?

[2022-03-24 11:33] Altai-man commented on #409
Hi. Alas I don't remember what was the private repo anymore, so cannot try it out. :(

[2022-04-01 21:00] FCO commented on #76
just tested it again and it seems to be working. Closing.

[2022-04-01 21:00] #76 closed

[2022-04-08 21:04] melezhik opened #549 "How to pass creds for mysql db to Red tests?"
Hi @FCO  I am experimenting with SparkyCI and want to run Red tests against some test mysql database. Say I have all the credential provided by sparrow plugin - http://sparrowhub.io/plugin/sparkyci-service-mysql/0.000009 , how can I pass them to Red tests? (`t/`), what should be format of `RED_DATABASE` env var?

Thank you.

[2022-04-08 22:49] melezhik commented on #549
Oh, looks like there is no MySQL support in Red, right ?

[2022-04-09 00:40] FCO commented on #549
Hi! Yes, not yet, but working on it... but for passing connection details for the tests, you should create a env var called RED_DATABASE and the value will be the driver name and any parameter (name=value) separated by space, so, for example to connect to Postgres on 10.0.0.1 on port 9999, you could do:
[code]

Not every test is using it though.

[2022-04-09 00:53] melezhik commented on #549
Cool! What about user and password ?

[2022-04-09 01:06] FCO commented on #549
The same way, this accepts any parameter the driver accepts, eg:
[code]

https://github.com/FCO/Red/blob/master/lib/Red/Driver/Pg.pm6#L22-L28

[2022-04-09 01:40] melezhik commented on #549
Thanks

[2022-04-09 18:35] #549 closed

[2022-05-10 00:21] FCO commented on #514
<img width="845" alt="image" src="https://user-images.githubusercontent.com/99834/167518802-6b7133bb-a488-4655-bfe8-c7ec0b5eec6d.png">

[2022-05-10 06:29] jonathanstowe commented on #514
Now I have to remember what I was doing when I found this would  be useful :rofl:

[2022-05-10 06:35] FCO commented on #514
Sorry for the delay…

[2022-05-12 20:20] jonathanstowe commented on #514
Ah.  With Pg, where there is a column alias on the column that is being aggregated it adds the `as` which is a syntax error

i.e you get something like :

[code]

And get :

[code]

Something like :

[code]

Fixes it.

[2022-05-13 07:14] jonathanstowe commented on #514
The tests pass with the above.

For reference the problem was happening because it was getting the  `select` context from the caller and subsequently gets the `translate` for `Red::Column` which adds the alias.

[2022-05-13 09:19] jonathanstowe commented on #514
The above is a PR for the previous diff.

[2022-05-16 06:23] FCO commented on #514
Is that working now?

[2022-05-16 06:28] jonathanstowe commented on #514
I'll test today.

[2022-05-16 17:25] jonathanstowe commented on #514
Yep that all works fine.

[2022-05-16 19:37] FCO commented on #440
@kawaii I've added a test for it (https://github.com/FCO/Red/commit/d0085007ff75e3eb35e1f334b24b5ee6165a6926). Is it still broken for you?

[2022-05-16 19:48] FCO commented on #223
Done

[2022-05-17 00:44] FCO commented on #136
Now you can do something like this:
<img width="566" alt="image" src="https://user-images.githubusercontent.com/99834/168704440-a899bec1-c0f0-47b9-b9fe-fe177032d65f.png">

And you can also implement the `Red::Formatter::ResultSeq` role and set `$*RED-FORMATTER-RESULTSEQ` to it to have it used when calling `.format` (or pass it as a single argument to `.format`) (it uses `Red::Formatter::ResultSeq:

[2022-05-17 00:47] #136 closed

[2022-05-20 09:27] jonathanstowe commented on #514
Actually, I think there may be some concurrency problem in there, I'm seeing this intermittently:

[code]
I'm digging in to see if I can replicate outside the web app.

[2022-05-20 12:18] jonathanstowe commented on #514
It seems to boil down to the `$.of` of the final ResultSeq not being set correctly, though I'm not sure how this is happening.

[2022-05-23 14:59] jonathanstowe commented on #514
FWIW, I'm pretty certain that it *is* some concurrency issue, I've fixed it from being a problem in my application by wrapping the offending code in a Lock, not ideal but it works.  Will still look at the underlying issue.

[2022-05-24 20:01] FCO commented on #514
Reproduced:
<img width="1208" alt="image" src="https://user-images.githubusercontent.com/99834/170122016-1640a0b4-f036-4786-b485-9342867ad7a6.png">

[2022-05-24 23:53] FCO commented on #514
@jonathanstowe could you please confirm if the race condition was fixed, please?

[2022-05-27 11:13] FCO commented on #514
This seems to be fixed to me...

[2022-06-02 11:12] jonathanstowe commented on #514
I'm still seeing the same thing:

[code]

Sorry it took so long to get back, been a bit busy...

[2022-06-03 17:35] FCO commented on #514
Does t/71-AGF-methods.t work for you?

[2022-06-06 09:07] jonathanstowe commented on #514
Yeah, that's fine, I think that this may be harder to reproduce than it appears. I'll try and knock something up that I can share with you, the failing code is a bit complex.

[2022-06-10 17:01] FCO commented on #495
Does that work now?

[2022-06-11 11:12] patrickbkr commented on #495
Trying the snippet in the OP I now get
[code]

From above can be seen:
- `==` now works.
- `===` does not work, but according to jonathanstowes comment that's expected, as `=== is not defined by Red so you'll always get the core version`.
- `⊂ (a)` does not work, but that's also expected, since `(a)` is not a list. `(a,)` and `[a]` both would work.
- `⊂ (a, b)` still works, just as before.

So I'm

[2022-06-11 14:18] FCO commented on #495
Thank you very much you 2

[2022-06-11 14:18] #495 closed

[2022-07-28 22:57] #464 closed

[2022-07-29 02:03] FCO commented on #139
I think I'm almost there:
<img width="324" alt="image" src="https://user-images.githubusercontent.com/99834/181667436-e6c970e9-8575-49b6-a849-9db6103705cf.png">

[2022-07-29 06:40] jonathanstowe commented on #139
Looks good :+1:

[2022-07-30 18:31] FCO commented on #139
I think that's working... Can anyone confirm?

[2022-07-31 01:50] FCO commented on #109
<img width="405" alt="image" src="https://user-images.githubusercontent.com/99834/182006232-8e8768b3-2bc3-41f9-b1e8-c151303b44da.png">

[2022-07-31 10:34] jonathanstowe commented on #139
I'll have to remember where it was I wanted to use this.

[2022-08-05 10:50] jonathanstowe opened #554 "Possible concurrency issue in query construction"
I'm getting:

[code]

This is very intermittent.

The thing is that the `upload-exists` method has nothing to do with the table `stats_view_refresh`, being defined as:

[code]

And usually would make SQL like:

[code]
It looks like there is possibly some data that is shared between threads which results in the wrong query being generated.

I'll try and replicate with debugging on, but I might also

[2022-08-05 14:45] jonathanstowe commented on #554
I think this is a symptom of the same problem but it doesn't get as far as making the query:

[code]

Will continue trying to provoke the same failure mode however.  What I did notice is that immediately prior (or perhaps simultaneously,) to this is that it ran:

[code]
in another thread (this is just the validating the session on refresh.)

[2022-08-05 16:12] jonathanstowe commented on #554
Right, finally got the original error:

[code]

It somehow has mashed up the "select list" from the query that was being run in another thread which  is:

[code]

Which itself was made by :

[code]

The only way I can see this happening is that somehow the ResultSeq is being shared, but I can't see *how*.

[2022-08-05 19:56] FCO commented on #554
Thanks... I'll also try to find that out... but it will be hard...

[2022-08-06 08:01] jonathanstowe commented on #554
Yeah it's also tricky to reproduce because it is very sensitive to the timings.

The application accepts a multi-file upload and in the background (having returned a 204 response,) processes each in turn, calling the `upload-exists` to check whether each actually needs to be processed.  If the file is successfully processed a notification is sent to the client (by EventSource,) which in turn will

[2022-08-06 23:22] Leont opened #555 "Make docs use RETURNING"
Given that SQLite has added support for `RETURNING` in 3.35 (2021-03-12), the documentation should probably assume its presence for better readability (and at some later point the implementation should probably follow?)

[code]
Would be replaced with
[code]

[2022-08-07 03:49] FCO commented on #555
Thanks!

[2022-09-06 17:58] emakei opened #556 "Failed to find dependencies: pq:ver<5>:from<native>"
I see this message on MacOS and Windows 10

[2022-09-06 18:11] jonathanstowe commented on #556
That's actually an error from `DB::Pg` installation.  You will need to install the libpq appropriate for your system.

[2022-09-07 10:39] #556 closed

[2022-09-07 10:48] emakei opened #557 "Add modularity"
I'd like install only Red::SQLite. Is that difficult?
Not sure can make it myself.

[2022-09-08 07:08] FCO commented on #557
That's a good question. I'll find out a way of doing that. In the mean time, if DB::Pg is giving error to install, maybe `zef install Red --force` would work for you. Thanks!

[2022-09-09 06:59] emakei commented on #557
Installed, but still have problems. Anyway thanks!

[2022-09-20 02:59] cbk opened #558 "Error using Red."
Recently I have been receiving an error on some of my programs which use Red as the DBI.  I receive the same error when I try to run the example Red code from the documentation.  I'm currently using  Raku 2022.04 on a Fedora 36 system.  Has there been some change which makes 2022.04 non-compatible?

The error I get is this....
**On Red:api<2> references must declaire :model-name (or :model-type) a

[2022-10-07 10:21] FCO commented on #558
Hi @cbk ! Sorry about the delay.

That's odd, I don't think there is any conflict (the only Rakudo version that conflicts with Red I know of it [2022.06](https://github.com/FCO/Red/blob/master/lib/Red.pm6#L48-L51)).

Were you using `:api<2>` before the error started?

Have you updated your Red version?

Witch example you've run from the documentation?

That error should only happen when one is set

[2022-10-08 00:53] cbk commented on #558
Thank you!  `zef upgrade Red` fixed the issue!  (Guess I need to do that for all my installed Modules...)
Things are working again.

[2022-10-08 05:15] #558 closed

[2022-10-31 19:06] jonathanstowe opened #560 "Add support for "locking clause" on SELECT"
Most modern RDBMS (e.g. Pg, Oracle, MySQL ,) support  at least to some extent `SELECT .... FOR UPDATE` (with either `NOWAIT` or `SKIP LOCKED` qualifiers,)  which is really useful in some applications (e.g. `SKIP LOCKED` is helpful for a queue with multiple readers.)

I guess this would be applied as a method on a resultset, adding to a new attribute on the AST::Select which then may be added to th